In [1]:
import numpy as np
import pandas as pd

In [2]:
OPT_GERAR_AUX_MARCAS = 1

In [3]:
PATH = r'C:\Users\Kevin Nakasaki\Documents\KEVIN\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao'

In [4]:
df = pd.read_csv(PATH + '\SERIE_HISTORICA_v2.txt', sep='\t', encoding= 'ISO-8859-1')

In [5]:
try:
    df = df[pd.Series(['ID', 'FLIGHT', 'CELEBRIDADE',
       'LEMBRANCA_DE_MARCA'])]

    del df['IP', 'ESTADO', 'IDADE', 'ESTADO_CIVIL',
       'TEM_FILHOS', 'RENDA', 'ESCOLARIDADE', 'SEXO', 'AWARENESS', 'NOME',
           'OPINIAO', 'GOSTO_MUITO', 'ME_IDENTIFICO',
       'TENHO_RESPEITO', 'PRESTO_ATENCAO', 'CONFIO',
       'MUITO_BOM_NAQUILO_QUE_FAZ', 'INTELIGENTE', 'DETERMINADO', 'HONESTO',
       'ENGRAÇADO', 'LINDO', 'SEDUTOR', 'DO_POVO', 'CARA_DO_BRASIL',
       'INOVADOR', 'GOSTA_DE_DESAFIOS', 'TENHO_VISTO_NA_MIDIA',
       'BOA_PARA_PROPAGANDA', 'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
       'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
       'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
       'INDICARIA_PARA_AMIGOS_MARCAS',
       'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE']
except:
    pass

In [6]:
df["IX"] = df["ID"]
df = df.set_index("IX")

In [7]:
def loadDF(file, enc="UTF-8", sep=','): return pd.read_csv(PATH+ r'\{0}.txt'.format(file), encoding=enc, sep=sep)

In [8]:
def writeDF(dfr, file, enc="UTF-8", sep=','): return dfr.to_csv(PATH+ r'\{0}.txt'.format(file), header=True, encoding=enc, sep=",", float_format="%.3f")

In [9]:
print(df)

            ID  FLIGHT          CELEBRIDADE  \
IX
1            1       8              Alcione
2            2       8              Alcione
3            3       8              Alcione
4            4       8              Alcione
5            5       8              Alcione
6            6       8              Alcione
7            7       8              Alcione
8            8       8              Alcione
9            9       8              Alcione
10          10       8              Alcione
11          11       8              Alcione
12          12       8              Alcione
13          13       8              Alcione
14          14       8              Alcione
15          15       8              Alcione
16          16       8              Alcione
17          17       8              Alcione
18          18       8              Alcione
19          19       8              Alcione
20          20       8              Alcione
21          21       8              Alcione
22          22       8              Alcione
23          23       8              Alcione
24          24       8              Alcione
25          25       8              Alcione
26          26       8              Alcione
27          27       8              Alcione
28          28       8              Alcione
29          29       8              Alcione
30          30       8              Alcione
...        ...     ...                  ...
342873  342873      21  Sérgio Sette Câmara
342874  342874      21  Sérgio Sette Câmara
342875  342875      21  Sérgio Sette Câmara
342876  342876      21  Sérgio Sette Câmara
342877  342877      21  Sérgio Sette Câmara
342878  342878      21  Sérgio Sette Câmara
342879  342879      21  Sérgio Sette Câmara
342880  342880      21  Sérgio Sette Câmara
342881  342881      21  Sérgio Sette Câmara
342882  342882      21  Sérgio Sette Câmara
342883  342883      21  Sérgio Sette Câmara
342884  342884      21  Sérgio Sette Câmara
342885  342885      21  Sérgio Sette Câmara
342886  342886      21  Sérgio Sette Câmara
342887  342887      21  Sérgio Sette Câmara
342888  342888      21  Sérgio Sette Câmara
342889  342889      21  Sérgio Sette Câmara
342890  342890      21  Sérgio Sette Câmara
342891  342891      21  Sérgio Sette Câmara
342892  342892      21  Sérgio Sette Câmara
342893  342893      21  Sérgio Sette Câmara
342894  342894      21  Sérgio Sette Câmara
342895  342895      21  Sérgio Sette Câmara
342896  342896      21  Sérgio Sette Câmara
342897  342897      21  Sérgio Sette Câmara
342898  342898      21  Sérgio Sette Câmara
342899  342899      21  Sérgio Sette Câmara
342900  342900      21  Sérgio Sette Câmara
342901  342901      21  Sérgio Sette Câmara
342902  342902      21  Sérgio Sette Câmara

                           LEMBRANCA_DE_MARCA
IX
1                                         não
2                                         Não
3                                         Não
4                                         nao
5                                         não
6                    Não me lembro de nenhum.
7                                         Não
8                                  Não lembro
9                                         Não
10                                        Não
11                                 não lembro
12                              não me lembro
13                                        Não
14                                        não
15                                         cd
16                                        Não
17                                 Não lembro
18                                        Não
19                      cantando samba recife
20                                        não
21                                 nao lembro
22                                        Não
23          Sim...da Campanha Maria da Penha,
24                                 nao lembro
25                            NAO, NÃO LEMBRO
26      Sim, mas não lembro qual a propaganda
27                                        sim
28                                        Sim
29                                        Não
30                                        nao
...                                       ...
342873                                      0
342874                                      0
342875                                      0
342876                                      0
342877                                      0
342878                                      0
342879                                      0
342880                                      0
342881                                      0
342882                                      0
342883                                      0
342884                                      0
342885                                      0
342886                                      0
342887                                      0
342888                                      0
342889                                      0
342890                                      0
342891                                      0
342892                                      0
342893                                      0
342894                                      0
342895                                      0
342896                                      0
342897                                      0
342898                                      0
342899                                      0
342900                                      0
342901                                      0
342902                                      0

[342902 rows x 4 columns]

In [11]:
df_nuvem_marcas = df.copy()

In [12]:
print(df_nuvem_marcas.head())

    ID  FLIGHT CELEBRIDADE LEMBRANCA_DE_MARCA
IX
1    1       8     Alcione                não
2    2       8     Alcione                Não
3    3       8     Alcione                Não
4    4       8     Alcione                nao
5    5       8     Alcione                não

In [13]:
df_nuvem_marcas = df_nuvem_marcas['LEMBRANCA_DE_MARCA'].str.lower()
type(df_nuvem_marcas)
df_nuvem_marcas

IX
1                                           não
2                                           não
3                                           não
4                                           nao
5                                           não
6                      não me lembro de nenhum.
7                                           não
8                                    não lembro
9                                           não
10                                          não
11                                   não lembro
12                                não me lembro
13                                          não
14                                          não
15                                           cd
16                                          não
17                                   não lembro
18                                          não
19                        cantando samba recife
20                                          não
21                                   nao lembro
22                                          não
23            sim...da campanha maria da penha,
24                                   nao lembro
25                              nao, não lembro
26        sim, mas não lembro qual a propaganda
27                                          sim
28                                          sim
29                                          não
30                                          nao
                          ...
342873                                        0
342874                                        0
342875                                        0
342876                                        0
342877                                        0
342878                                        0
342879                                        0
342880                                        0
342881                                        0
342882                                        0
342883                                        0
342884                                        0
342885                                        0
342886                                        0
342887                                        0
342888                                        0
342889                                        0
342890                                        0
342891                                        0
342892                                        0
342893                                        0
342894                                        0
342895                                        0
342896                                        0
342897                                        0
342898                                        0
342899                                        0
342900                                        0
342901                                        0
342902                                        0
Name: LEMBRANCA_DE_MARCA, Length: 342902, dtype: object

In [14]:
if OPT_GERAR_AUX_MARCAS == 1:
    writeDF(df_nuvem_marcas, 'auxMARCAS')
    print('Arquivo exportado')

Arquivo exportado