<h1>Persona - Série Histórica</h1>

<h2>Leitura do arquivo de texto</h2>

Primeiro é necessário importar as bibliotecas:

In [1]:
import numpy as np
import pandas as pd

Cria as variáveis para no futuro criar os "txt" finais, que serão importados no SQL Server:

In [2]:
# Mudar para 1 quando for gerar as bases

OPT_GERAR_VW_BASE = 0
OPT_GERAR_VW_BASE_METRICAS = 0
OPT_GERAR_VW_COMP = 0
OPT_GERAR_VW_METRICAS_LP = 0

Cria uma variável que será usada para o caminho da pasta raíz do projeto; um atalho para buscar os próximos arquivos:

In [3]:
# Se houver acentuação incorrerá em erro
PATH = r'C:\Users\Kevin Nakasaki\Documents\KEVIN\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao'

## Início de tratamento da BASE

Lê o "txt" SERIE_HISTORICA_v2 e o aloca na variável "df":

In [4]:
# Se houver acentuação incorrerá em erro
df = pd.read_csv(PATH + '\SERIE_HISTORICA_v2.txt', sep='\t', encoding= 'ISO-8859-1')

#df = pd.read_csv(r'/Users/damorim/Documents/Notebooks/SERIE_HISTORICA.txt', sep='\t', encoding= 'ISO-8859-1')

Exceção para verificar se existem todas as colunas no DataFrame e deletar a coluna 'IP'.
Se retornar um erro, o bloco de código passa sem executar nada:

In [5]:
try:
    df = df[pd.Series(['ID', 'FLIGHT', 'CELEBRIDADE', 'ESTADO', 'IDADE', 'ESTADO_CIVIL',
       'TEM_FILHOS', 'RENDA', 'ESCOLARIDADE', 'SEXO', 'AWARENESS', 'NOME',
       'OPINIAO', 'LEMBRANCA_DE_MARCA', 'GOSTO_MUITO', 'ME_IDENTIFICO',
       'TENHO_RESPEITO', 'PRESTO_ATENCAO', 'CONFIO',
       'MUITO_BOM_NAQUILO_QUE_FAZ', 'INTELIGENTE', 'DETERMINADO', 'HONESTO',
       'ENGRAÇADO', 'LINDO', 'SEDUTOR', 'DO_POVO', 'CARA_DO_BRASIL',
       'INOVADOR', 'GOSTA_DE_DESAFIOS', 'TENHO_VISTO_NA_MIDIA',
       'BOA_PARA_PROPAGANDA', 'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
       'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
       'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
       'INDICARIA_PARA_AMIGOS_MARCAS',
       'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE'])]

    del df["IP"]
except:
    pass

Cria um item no DataFrame 'df' chamado 'IX' e o configura para ser igual ao 'ID'. Em seguida o configura para ser o índice do dicionário:

In [6]:
df["IX"] = df["ID"]
df = df.set_index("IX")

---

Define a função 'loadDF' que têm três argumentos:
- file = nome do arquivo
- enc = tipo de codificação (por padrão é 'utf-8')
- sep = tipo do separador dos valores no arquivo (por padrão é ',')

A função lê o arquivo (precisa ser "txt") e o aloca na variável em que for chamado:

In [7]:
def loadDF(file, enc="UTF-8", sep=','): return pd.read_csv(PATH+ r'\{0}.txt'.format(file), encoding=enc, sep=sep)

#def loadDF(file): return pd.read_csv(r'/Users/damorim/Documents/Notebooks/{0}.txt'.format(file), encoding="UTF-8", sep=",")

Define a função 'writeDF' que têm quatro argumentos:
- dfr = nome do DataFrame ('df' alguma coisa) que é definido nesse script
- file = nome do arquivo "txt" em que o DataFrame vai ser escrito
- enc = tipo de codificação (por padrão é 'utf-8')
- sep = tipo do separador dos valores no arquivo (por padrão é ',')

A função escreve o DataFrame criado no python em um arquivo "txt":

In [8]:
def writeDF(dfr, file, enc="UTF-8", sep=','): return dfr.to_csv(PATH+ r'\{0}.txt'.format(file), header=True, encoding=enc, sep=",", float_format="%.3f")

## Início de tratamento do METADADOS

In [9]:
meta = loadDF("METADADOS", enc="UTF-8")
meta["COLUNA2"] = meta["COLUNA"]
meta = meta.set_index("COLUNA2")

## Início de tratamento de FOTOS

Define o DataFrame 'df_fotos' utilizando a função 'loadDF' e já configura a coluna 'CELEBRIDADE' como índice:

In [10]:
df_fotos = loadDF('\FOTOS', enc= 'ISO-8859-1', sep='\t').set_index('CELEBRIDADE')

## Início de tratamento de CATEGORIAS

Define o DataFrame 'df_categorias' utilizando a função 'loadDF':

In [11]:
df_categorias = loadDF('\CATEGORIAS', enc= 'ISO-8859-1', sep='\t')

Atualiza o DataFrame 'df_categorias' resetando o índice do DataFrame. **Por não ter o argumento *drop=True*, o índice antigo se transforma numa nova coluna no DataFrame**.

Em seguida cria um DataFrame no qual o índice é a coluna 'CELEBRIDADE' e a coluna do DataFrame é a 'CATEGORIA', agrupando tudo através da função *lambda* definida, ao invés do padrão que é *numpy.mean* (**verificar com o Danilo para quê isso foi feito**):

In [12]:
df_categorias = df_categorias  \
    .reset_index() \
    .pivot_table(index='CELEBRIDADE' ,columns=['CATEGORIA'], aggfunc=lambda x : x)

---

O código abaixo executa os seguintes passos:
1. Reseta o índice do DataFrame 'df' (que puxou o arquivo 'SERIE_HISTORICA_v2')
2. Configura como novo índice a coluna 'CELEBRIDADE'
3. Junta o 'df' com 'df_fotos' utilizando os seus índices (de ambos são a coluna 'CELEBRIDADE')
4. Reseta o índice de 'df' novamente (já que já foi utilizado para o *join*)
5. Configura novamente o índice para a coluna 'IX'

In [13]:
df = df.reset_index().set_index('CELEBRIDADE').join(df_fotos).reset_index().set_index('IX')

A função *option_context()* é utilizada para permitir que todas as colunas sejam mostradas no *print()*, para conferir se o *join* foi realizado corretamente.

A função *head()* retorna, por padrão, as primeiras 5 linhas do DataFrame para verificar os tipos de dados que o DataFrame contém.

In [ ]:
# Verificação de print() sem o option_context()
print(df.head())

In [14]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 100):
    print(df.head())

            CELEBRIDADE      ID  FLIGHT  ESTADO  IDADE  ESTADO_CIVIL  \
IX
105625  Adriana Birolli  105625      12     1.0    3.0           2.0
105626  Adriana Birolli  105626      12    18.0    2.0           1.0
105627  Adriana Birolli  105627      12     1.0    2.0           1.0
105628  Adriana Birolli  105628      12     1.0    2.0           1.0
105629  Adriana Birolli  105629      12     1.0    2.0           1.0

        TEM_FILHOS  RENDA  ESCOLARIDADE  SEXO  AWARENESS  \
IX
105625         1.0    2.0           5.0   2.0        1.0
105626         2.0    6.0           4.0   2.0        2.0
105627         2.0    5.0           4.0   2.0        1.0
105628         2.0    8.0           4.0   2.0        1.0
105629         2.0    5.0           4.0   1.0        1.0

                                           NOME  \
IX
105625                      não sei o nome dela
105626                                 Não sei.
105627                Não me lembro exatamente.
105628  Não me lembro, mas sei que é uma atriz.
105629                          Adriana Birolli

                                                  OPINIAO  \
IX
105625                                          Boa atriz
105626                          Tem uma beleza diferente.
105627  Acho muito bonita e o pouco que já vi do traba...
105628     Acho que ela é uma boa atriz e é muito bonita.
105629                                           Atraente

               LEMBRANCA_DE_MARCA  GOSTO_MUITO  ME_IDENTIFICO  TENHO_RESPEITO  \
IX
105625                        não          1.0            1.0             7.0
105626  Sim, mas não lembro qual.          2.0            2.0             2.0
105627                        Não          4.0            2.0             4.0
105628                Não lembro           4.0            6.0             4.0
105629                        Não          7.0            5.0             7.0

        PRESTO_ATENCAO  CONFIO  MUITO_BOM_NAQUILO_QUE_FAZ  INTELIGENTE  \
IX
105625             7.0     6.0                        4.0          4.0
105626             1.0     3.0                        1.0          2.0
105627             1.0     1.0                        7.0          3.0
105628             4.0     4.0                        5.0          4.0
105629             7.0     5.0                        7.0          7.0

        DETERMINADO  HONESTO  ENGRAÇADO  LINDO  SEDUTOR  DO_POVO  \
IX
105625          4.0      4.0        4.0    4.0      4.0      4.0
105626          2.0      2.0        2.0    6.0      7.0      2.0
105627          6.0      4.0        5.0    6.0      6.0      2.0
105628          4.0      4.0        4.0    7.0      6.0      4.0
105629          7.0      7.0        5.0    7.0      7.0      5.0

        CARA_DO_BRASIL  INOVADOR  GOSTA_DE_DESAFIOS  TENHO_VISTO_NA_MIDIA  \
IX
105625             4.0       4.0                4.0                   4.0
105626             1.0       2.0                2.0                   2.0
105627             4.0       3.0                3.0                   7.0
105628             6.0       5.0                4.0                   3.0
105629             5.0       7.0                7.0                   7.0

        BOA_PARA_PROPAGANDA  COMPRARIA_PRODUTOS_QUE_ANUNCIASSE  \
IX
105625                  4.0                                4.0
105626                  3.0                                3.0
105627                  7.0                                4.0
105628                  7.0                                6.0
105629                  7.0                                4.0

        BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS  \
IX
105625                                   4.0
105626                                   1.0
105627                                   4.0
105628                                   7.0
105629                                   7.0

        ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
105625                                                4.0
105626                                                1.0
105627                                                2.0
105628                                                6.0
105629                                                4.0

        INDICARIA_PARA_AMIGOS_MARCAS  \
IX
105625                           4.0
105626                           3.0
105627                           4.0
105628                           6.0
105629                           4.0

        COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
105625                                                4.0
105626                                                1.0
105627                                                4.0
105628                                                6.0
105629                                                4.0

          personalityname                   FOTO_P                   FOTO_M  \
IX
105625   Alexandre Borges  p/Adriana%20Birolli.jpg  m/Adriana%20Birolli.jpg
105626   Alexandre Borges  p/Adriana%20Birolli.jpg  m/Adriana%20Birolli.jpg
105627   Alexandre Borges  p/Adriana%20Birolli.jpg  m/Adriana%20Birolli.jpg
105628   Alexandre Borges  p/Adriana%20Birolli.jpg  m/Adriana%20Birolli.jpg
105629   Alexandre Borges  p/Adriana%20Birolli.jpg  m/Adriana%20Birolli.jpg

                         FOTO_G
IX
105625  g/Adriana%20Birolli.jpg
105626  g/Adriana%20Birolli.jpg
105627  g/Adriana%20Birolli.jpg
105628  g/Adriana%20Birolli.jpg
105629  g/Adriana%20Birolli.jpg

In [ ]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', 10):
    # print(pd.Series(df["CELEBRIDADE"].unique()))
    # print(pd.Series(df["FLIGHT"].unique()))
    # print(pd.Series(df["ESTADO"].unique()))
    # print(pd.Series(sorted(df["IDADE"].unique())))
    # print(pd.Series(sorted(df["ESTADO_CIVIL"].unique())))
    # print(pd.Series(sorted(df["TEM_FILHOS"].unique())))
    # print(pd.Series(sorted(df["RENDA"].unique())))
    # print(pd.Series(sorted(df["ESCOLARIDADE"].unique())))
    # print(pd.Series(sorted(df["SEXO"].unique())))
    # print(pd.Series(sorted(df["AWARENESS"].unique())))

Cria a *Series* 'df2' como sendo o resultado do *subset* (no SQL = SELECT) de todos os Estados com valores maiores que 27.

Em seguida printa o *subset* do *Series* 'df2' puxando todos os valores distintos na coluna 'FLIGHT' (no SQL = SELECT DISTINCT FLIGHT FROM df2):

In [15]:
# FLIGHT 18 TÁ CAGADO, fizeram alguma bosta na coluna de Estado. Tem que esperar o Gui arrumar
df2 = df[ df["ESTADO"] > 27 ]
print(df2["FLIGHT"].unique())

[18]

A função *isnull()* (também conhecida como *isna()*) retorna 'True' para cada valor nulo na coluna. Foi utilizado para buscar por valores nulos no DataFrame (aparentemente esperava-se que tudo estivesse preenchido).

In [16]:
# FLIGHT 9 TÁ CAGADO, fizeram alguma bosta nas colunas de perfil demográfico, pois estão vazias
df2 =  df [ pd.isnull(df["IDADE"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["ESTADO_CIVIL"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["TEM_FILHOS"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["RENDA"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["ESCOLARIDADE"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["SEXO"]) ]
print(df2["FLIGHT"].unique())

[9]
[9]
[9]
[9]
[9]
[9]

Faz a mesma verificação por valores nulos só que dessa vez criando uma cópia do resultado e o associando em 'df2':

In [17]:
# FLIGHTS 8, 11, 12 possuem a coluna de 'AWARENESS' vazio
df2 =  df [ pd.isnull(df["AWARENESS"]) ].copy()

Printa as quantidades de celebridades em 'df2' agrupando pela coluna 'FLIGHT':

In [18]:
print(df2.groupby("FLIGHT")["CELEBRIDADE"].count() )

FLIGHT
8     308
11    305
12    329
Name: CELEBRIDADE, dtype: int64

Cria a variável 'ls_cols' e associa a ela uma lista criada a partir da coluna 'AWARENESS':

In [19]:
ls_cols = list(["AWARENESS"])

Adiciona o conteúdo das listas 'ls_cols' e a lista gerada a partir de 'pd.Series(df.columns)[13:-3]', criando uma única lista em 'ls_cols'.

O item *.columns* faz com que sejam "puxados" somente os *labels* das colunas que no caso são as escalas:

In [20]:
ls_cols.extend(pd.Series(df.columns)[13:-3])

Cria um DataFrame com a *Series* da lista 'ls_cols':

In [21]:
df2 = df [ pd.Series(ls_cols) ]

Printa um sumário com as principais estatísticas excluindo-se os valores *NaN*:

In [22]:
print(df2.describe())

           AWARENESS    GOSTO_MUITO  ME_IDENTIFICO  TENHO_RESPEITO  \
count  341960.000000  301937.000000  301937.000000   301937.000000
mean        1.278474       4.286113       3.934715        4.624107
std         0.448249       2.223004       2.222952        2.199939
min         1.000000       0.000000       0.000000        0.000000
25%         1.000000       2.000000       2.000000        3.000000
50%         1.000000       4.000000       4.000000        5.000000
75%         2.000000       6.000000       6.000000        7.000000
max         2.000000       7.000000       7.000000        7.000000

       PRESTO_ATENCAO         CONFIO  MUITO_BOM_NAQUILO_QUE_FAZ  \
count   301937.000000  301937.000000              301937.000000
mean         4.228154       4.104177                   4.844742
std          2.255347       2.196886                   2.227597
min          0.000000       0.000000                   0.000000
25%          2.000000       2.000000                   3.000000
50%          4.000000       4.000000                   6.000000
75%          6.000000       6.000000                   7.000000
max          7.000000       7.000000                   7.000000

         INTELIGENTE    DETERMINADO        HONESTO  \
count  301937.000000  301937.000000  301937.000000
mean        4.694711       4.683606       4.445378
std         2.186101       2.186610       2.144339
min         0.000000       0.000000       0.000000
25%         3.000000       3.000000       3.000000
50%         5.000000       5.000000       5.000000
75%         7.000000       7.000000       6.000000
max         7.000000       7.000000       7.000000

                               ...                            CARA_DO_BRASIL  \
count                          ...                             301937.000000
mean                           ...                                  4.367659
std                            ...                                  2.230409
min                            ...                                  0.000000
25%                            ...                                  3.000000
50%                            ...                                  5.000000
75%                            ...                                  7.000000
max                            ...                                  7.000000

            INOVADOR  GOSTA_DE_DESAFIOS  TENHO_VISTO_NA_MIDIA  \
count  301937.000000      301937.000000         301937.000000
mean        4.390595           4.557229              4.639557
std         2.192298           2.188502              2.257017
min         0.000000           0.000000              0.000000
25%         3.000000           3.000000              3.000000
50%         5.000000           5.000000              5.000000
75%         6.000000           7.000000              7.000000
max         7.000000           7.000000              7.000000

       BOA_PARA_PROPAGANDA  COMPRARIA_PRODUTOS_QUE_ANUNCIASSE  \
count        301937.000000                      301937.000000
mean              4.630165                           4.371339
std               2.219119                           2.205971
min               0.000000                           0.000000
25%               3.000000                           3.000000
50%               5.000000                           5.000000
75%               7.000000                           6.000000
max               7.000000                           7.000000

       BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS  \
count                         301937.000000
mean                               4.543931
std                                2.230696
min                                0.000000
25%                                3.000000
50%                                5.000000
75%                                7.000000
max                                7.000000

       ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
count                                      301689.000000
mean                                            4.346032
std                                             2.212154
min                                             0.000000
25%                                             3.000000
50%                                             4.000000
75%                                             6.000000
max                                             7.000000

       INDICARIA_PARA_AMIGOS_MARCAS  \
count                 301689.000000
mean                       4.359897
std                        2.213490
min                        0.000000
25%                        3.000000
50%                        5.000000
75%                        6.000000
max                        7.000000

       COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE
count                                      288171.000000
mean                                            4.373320
std                                             2.232079
min                                             0.000000
25%                                             3.000000
50%                                             5.000000
75%                                             7.000000
max                                             7.000000

[8 rows x 24 columns]

In [ ]:
# As escalas ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE e INDICARIA_PARA_AMIGOS_MARCAS não foram respondidas no flight 8

**Legenda de AWARENESS na tabela: 1 - Sei; 2 - Não Sei**

Busca no DataFrame 'df' quais são as CELEBRIDADES que são conhecidas e que os respondentes preencheram no campo 'GOSTO_MUITO'.

In [23]:
df2 = df[ df["AWARENESS"] == 1 &  pd.notnull( df["GOSTO_MUITO"]) ]

Cria uma *Series* dos *labels* do DataFrame 'df2' para verificar o DataFrame contém todas as colunas necessárias:

In [24]:
print(pd.Series(df2.columns))

0                                           CELEBRIDADE
1                                                    ID
2                                                FLIGHT
3                                                ESTADO
4                                                 IDADE
5                                          ESTADO_CIVIL
6                                            TEM_FILHOS
7                                                 RENDA
8                                          ESCOLARIDADE
9                                                  SEXO
10                                            AWARENESS
11                                                 NOME
12                                              OPINIAO
13                                   LEMBRANCA_DE_MARCA
14                                          GOSTO_MUITO
15                                        ME_IDENTIFICO
16                                       TENHO_RESPEITO
17                                       PRESTO_ATENCAO
18                                               CONFIO
19                            MUITO_BOM_NAQUILO_QUE_FAZ
20                                          INTELIGENTE
21                                          DETERMINADO
22                                              HONESTO
23                                            ENGRAÇADO
24                                                LINDO
25                                              SEDUTOR
26                                              DO_POVO
27                                       CARA_DO_BRASIL
28                                             INOVADOR
29                                    GOSTA_DE_DESAFIOS
30                                 TENHO_VISTO_NA_MIDIA
31                                  BOA_PARA_PROPAGANDA
32                    COMPRARIA_PRODUTOS_QUE_ANUNCIASSE
33                 BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS
34    ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE
35                         INDICARIA_PARA_AMIGOS_MARCAS
36    COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANU...
37                                      personalityname
38                                               FOTO_P
39                                               FOTO_M
40                                               FOTO_G
dtype: object

Busca por colunas que possuem valores nulos e seus respectivos 'FLIGHTS':

In [25]:
print( df2 [ pd.isnull(df2["GOSTO_MUITO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ME_IDENTIFICO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["TENHO_RESPEITO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["PRESTO_ATENCAO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["CONFIO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["MUITO_BOM_NAQUILO_QUE_FAZ"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INTELIGENTE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["DETERMINADO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["HONESTO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ENGRAÇADO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["LINDO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["SEDUTOR"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["DO_POVO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["CARA_DO_BRASIL"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INOVADOR"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["GOSTA_DE_DESAFIOS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["TENHO_VISTO_NA_MIDIA"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["BOA_PARA_PROPAGANDA"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["COMPRARIA_PRODUTOS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INDICARIA_PARA_AMIGOS_MARCAS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )

print ("\n\n")

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[8]
[8]
[20]

**Legenda de AWARENESS na tabela: 1 - Sei; 2 - Não Sei**

Cria uma condição em que é necessário que as colunas sejam nulas e que o 'AWARENESS' seja igual a 1, para printar a quantidade de CELEBRIDADES agrupadas por 'FLIGHT' em que essas condições sejam verdadeiras:

In [26]:
df3 = df2[ pd.isnull(df2["ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) & df2["AWARENESS"] == 1  ]
print (df3.groupby('FLIGHT')["CELEBRIDADE"].count())

df3 = df2[ pd.isnull(df2["INDICARIA_PARA_AMIGOS_MARCAS"]) & df2["AWARENESS"] == 1  ]
print (df3.groupby('FLIGHT')["CELEBRIDADE"].count())

print ("\n\n")

FLIGHT
8    38
Name: CELEBRIDADE, dtype: int64
FLIGHT
8    38
Name: CELEBRIDADE, dtype: int64

**Verificar com Danilo por que foi feito pelo 'df' e não pelo 'df2' igual aos outros**

In [27]:
# FLIGHT 17 possui 1 registro que apesar de ter marcado que conhece o artista, não respondeu nenhuma escala
df2 =  df [ df["AWARENESS"] == 1 & pd.isnull(df["GOSTO_MUITO"]) ]
print(df2.groupby('FLIGHT')['CELEBRIDADE'].count())

print ("\n\n") 

df2 = df[ df["FLIGHT"] == 8 ]
print(df2.groupby("AWARENESS")["CELEBRIDADE"].count() )

FLIGHT
17    1
Name: CELEBRIDADE, dtype: int64



AWARENESS
1.0    21159
2.0     6884
Name: CELEBRIDADE, dtype: int64

<h2>Carregamento de tabelas auxiliares</h2>

In [28]:
df_escolaridade = loadDF('ESCOLARIDADE')
df_estado_civil = loadDF('ESTADOCIVIL')
df_idade = loadDF('IDADE')
df_renda = loadDF('RENDA')
df_uf = loadDF('UF')

Cria um dicionário para fazer a mesma função que as tabelas auxiliares que são importadas no SQL Server:

In [29]:
dictAux = {     "ESCOLARIDADE" : df_escolaridade.set_index('COD_ESCOLARIDADE')
              , "ESTADOCIVIL"  : df_estado_civil.set_index('COD_ESTADOCIVIL')
              , "IDADE"        : df_idade.set_index('COD_IDADE')
              , "RENDA"        : df_renda.set_index('COD_RENDA')
              , "UF"           : df_uf.set_index('COD_ESTADO')
          }

<h2>Views Power BI</h2>

<h3 style='color:red'>VW_BASE</h3>

Cria uma cópia do DataFrame 'df' e o nomeia como 'df_base'.

Em seguida faz os *joins* para buscar as informações do dicionário auxiliar (semelhante a buscar informações das tabelas auxiliares).

**Verificar com o Danilo o por quê de ele igualar as colunas de 'df_base' com as de 'df'**

A função *where()* é semelhante à um *if* no excel, em que se determinada condição for satisfeita, executar a primeira opção, caso contrário executar a segunda (*where(condition, True, False)*):

In [30]:
df_base = df.copy()

df_base = df_base.set_index('ESCOLARIDADE').join(dictAux["ESCOLARIDADE"])
df_base = df_base.set_index('ESTADO_CIVIL').join(dictAux["ESTADOCIVIL"])
df_base = df_base.set_index('IDADE').join(dictAux["IDADE"])
df_base = df_base.set_index('RENDA').join(dictAux["RENDA"])
df_base = df_base.set_index('ESTADO').join(dictAux["UF"])
df_base["ESCOLARIDADE"] = df["ESCOLARIDADE"]
df_base["ESTADO_CIVIL"] = df["ESTADO_CIVIL"]
df_base["IDADE"] = df["IDADE"]
df_base["RENDA"] = df["RENDA"]
df_base["ESTADO"] = df["ESTADO"]

# Correção realizada: 1 - Masculino ; 2 - Feminino
df_base["SEXO"] = np.where(df["SEXO"] == 1, "Masculino", "Feminino")
df_base["TEM_FILHOS"] = np.where(df["TEM_FILHOS"] == 1, "Sim", "Não")

#with pd.option_context('display.max_rows', None, 'display.max_columns', 100):
    #print( df_base[ pd.isnull(df_base['REGIAO']) ].groupby('FLIGHT')["ID"].count()  )
    #print( sorted(df_base[ df_base["FLIGHT"] == 9 ]["ESTADO"].unique()) ) 

#print(pd.Series(df_base.columns))

Deleta as colunas de 'df_base' que estão com os valores antigos, usados para puxar os valores no *join* e renomeia as colunas que vieram das "tabelas auxiliares" para fazer o papel das colunas deletadas:

In [31]:
del df_base["ESTADO"]
del df_base["RENDA"]
del df_base["ESCOLARIDADE"]
del df_base["IDADE"]

df_base.rename( columns ={ 
    "UF_NOME" : "ESTADO" ,
    "RENDA_DESC2": "RENDA",
    "ESCOLARIDADE_DESC2" : "ESCOLARIDADE",
    "ESTADOCIVIL_DESC": "ESTADOCIVIL",
    "IDADE_INT": "IDADE"
}, inplace=True)

Bloco para gerar o arquivo que será usado na importação no SQL Server.

Ordena pela coluna 'ID' de forma ascendente e a configura para ser índice (key).
Em seguida usa a função 'writeDF' para escrever o DataFrame no arquivo "VW_BASE.txt":

In [32]:
if OPT_GERAR_VW_BASE == 1:
    df_base = df_base        \
        .sort_values(by=['ID'], ascending=True)        \
        .set_index("ID")

    writeDF(df_base, 'VW_BASE')
        
    print("Arquivo gerado")

<h3 style='color:red'>VW_BASE_METRICAS</h3>

**Verificar com Danilo qual a finalidade das definições abaixo**

In [ ]:
df_awareness = df.copy()
print(df_awareness.head())

In [ ]:
df_awareness['AW'] = np.where( df_awareness['AWARENESS'] == 1, 'S', 'N' )

In [ ]:
df_awareness = df_awareness.groupby(['FLIGHT','CELEBRIDADE','AW'], as_index=False).count()
print(df_awareness.head())

In [ ]:
df_awareness = df_awareness[ pd.Series(['CELEBRIDADE','FLIGHT','AW', 'ID']) ].pivot_table('ID',['CELEBRIDADE','FLIGHT'],'AW')
print(df_awareness.head())

In [ ]:
df_awareness["AWARENESS"] = df_awareness['S'] / (df_awareness['S'] + df_awareness['N'])
print(df_awareness)

In [ ]:
df_awareness["AWARENESS_NIVEL"] = np.where( df_awareness['AWARENESS'] >= 0.65, 'Alto', 'Baixo' )
print(df_awareness)

In [ ]:
cols = [
    'ID',
    'CELEBRIDADE',
    'FLIGHT',
    'GOSTO_MUITO',
    'ME_IDENTIFICO',
    'TENHO_RESPEITO',
    'PRESTO_ATENCAO',
    'CONFIO',
    'MUITO_BOM_NAQUILO_QUE_FAZ',
    'INTELIGENTE',
    'DETERMINADO',
    'HONESTO',
    'ENGRAÇADO',
    'LINDO',
    'SEDUTOR',
    'DO_POVO',
    'CARA_DO_BRASIL',
    'INOVADOR',
    'GOSTA_DE_DESAFIOS',
    'TENHO_VISTO_NA_MIDIA',
    'BOA_PARA_PROPAGANDA',
    'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
    'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
    'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
    'INDICARIA_PARA_AMIGOS_MARCAS',
    'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE'
]

df_metricas = df.copy()
print(df_metricas.head())

In [ ]:
df_metricas = df_metricas[ pd.Series(cols) ]    \
    .melt(id_vars=['ID', 'CELEBRIDADE', 'FLIGHT' ],  value_name= 'VALOR', var_name='METRICA')     \
    .set_index("METRICA")     \
    .join(meta)

In [ ]:
df_metricas["TOP2"] = np.where( df_metricas["VALOR"] >= 6 , 1 , 0 )
df_metricas["BOT2"] = np.where( (df_metricas["VALOR"] <= 2) & (df_metricas["VALOR"] > 0) , 1 , 0 )
print(df_metricas.head())

In [ ]:
del df_metricas["PERGUNTA"]
del df_metricas["COLUNA"]

In [ ]:
df_metricas = df_metricas     \
        .set_index(['CELEBRIDADE','FLIGHT'])     \
        .join(df_awareness)     \
        .set_index("ID")     \
        .join( df[ pd.Series([ "FOTO_G" , "FOTO_M" , "FOTO_P", 'CELEBRIDADE', 'FLIGHT' ]) ]  )
print(df_metricas.head())

----------

<h3 style='color:red'>VW_BASE_METRICAS (FULL)</h3>

In [33]:
df_awareness = df.copy()

df_awareness['AW'] = np.where( df_awareness['AWARENESS'] == 1, 'S', 'N' )
df_awareness = df_awareness.groupby(['FLIGHT','CELEBRIDADE','AW'], as_index=False).count()
df_awareness = df_awareness[ pd.Series(['CELEBRIDADE','FLIGHT','AW', 'ID']) ].pivot_table('ID',['CELEBRIDADE','FLIGHT'],'AW')
df_awareness["AWARENESS"] = df_awareness['S'] / (df_awareness['S'] + df_awareness['N'])
df_awareness["AWARENESS_NIVEL"] = np.where( df_awareness['AWARENESS'] >= 0.65, 'Alto', 'Baixo' )

In [34]:
cols = [
    'ID',
    'CELEBRIDADE',
    'FLIGHT',
    'GOSTO_MUITO',
    'ME_IDENTIFICO',
    'TENHO_RESPEITO',
    'PRESTO_ATENCAO',
    'CONFIO',
    'MUITO_BOM_NAQUILO_QUE_FAZ',
    'INTELIGENTE',
    'DETERMINADO',
    'HONESTO',
    'ENGRAÇADO',
    'LINDO',
    'SEDUTOR',
    'DO_POVO',
    'CARA_DO_BRASIL',
    'INOVADOR',
    'GOSTA_DE_DESAFIOS',
    'TENHO_VISTO_NA_MIDIA',
    'BOA_PARA_PROPAGANDA',
    'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
    'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
    'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
    'INDICARIA_PARA_AMIGOS_MARCAS',
    'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE'
]

df_metricas = df.copy()

df_metricas = df_metricas[ pd.Series(cols) ]    \
    .melt(id_vars=['ID', 'CELEBRIDADE', 'FLIGHT' ],  value_name= 'VALOR', var_name='METRICA')     \
    .set_index("METRICA")     \
    .join(meta)
    
df_metricas["TOP2"] = np.where( df_metricas["VALOR"] >= 6 , 1 , 0 )
df_metricas["BOT2"] = np.where( (df_metricas["VALOR"] <= 2) & (df_metricas["VALOR"] > 0) , 1 , 0 )

del df_metricas["PERGUNTA"]
del df_metricas["COLUNA"]

df_metricas = df_metricas     \
        .set_index(['CELEBRIDADE','FLIGHT'])     \
        .join(df_awareness)     \
        .set_index("ID")     \
        .join( df[ pd.Series([ "FOTO_G" , "FOTO_M" , "FOTO_P", 'CELEBRIDADE', 'FLIGHT' ]) ]  )


if OPT_GERAR_VW_BASE_METRICAS == 1:
    
    df_metricas = df_metricas.reset_index()    
    df_metricas.rename( columns ={ "index" : "ID"}, inplace=True)    
    df_metricas = df_metricas.set_index("ID")
    writeDF(df_metricas, 'VW_BASE_METRICAS')
    
    print("Arquivo exportado")

<h3 style='color:red'>VW_COMPARATIVO</h3>

In [ ]:
df_latest_flight = df.groupby('CELEBRIDADE').max()['FLIGHT'].reset_index().set_index(['CELEBRIDADE','FLIGHT'])
print(df_latest_flight.head())

In [ ]:
df_comp = df_metricas \
    .join(df['AWARENESS'], rsuffix='_SN')
print(df_comp.head())

In [ ]:
df_count_total = df \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
print(df_count_total.head(10))

In [ ]:
df_count_total.rename( columns ={ "ID": "COUNT"}, inplace=True)
print(df_count_total.head())

In [ ]:
df_count_aw = df[ df['AWARENESS']==1 ] \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
print(df_count_aw.head())

In [ ]:
df_count_aw.rename( columns ={ "ID": "COUNT"}, inplace=True)
print(df_count_aw.head())

In [ ]:
df_count = df_count_total \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count_aw.set_index(['FLIGHT','CELEBRIDADE']), rsuffix='_AW')
print(df_count.head())

In [ ]:
del df_count_total
del df_count_aw

In [ ]:
df_comp = df_comp[ df_comp['AWARENESS_SN'] == 1 ] \
        .groupby(['FLIGHT','CELEBRIDADE', 'FOTO_M','FOTO_P','FOTO_G','AWARENESS', 'AWARENESS_NIVEL', 'CONSTRUCTO','METRICA'], as_index=False) \
        .agg({ "TOP2" : "sum", "BOT2" : "sum" })
print(df_comp.head())

In [ ]:
df_comp = df_comp \
        .reset_index()  \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count)
print(df_comp.head())

In [ ]:
df_comp['TOP2'] = df_comp['TOP2'] / df_comp['COUNT_AW']
df_comp['BOT2'] = df_comp['BOT2'] / df_comp['COUNT_AW']
print(df_comp['TOP2'].head())
print(df_comp['BOT2'].head())

In [ ]:
df_comp = df_comp \
    .reset_index() \
    .set_index(['CELEBRIDADE','FLIGHT']) \
    .join( df_latest_flight, how='inner' )
print(df_comp.head())

In [ ]:
df_comp = df_comp \
    .reset_index() \
    .set_index(['CONSTRUCTO','METRICA'])
print(df_comp.head())

In [ ]:
del df_comp['COUNT']
del df_comp['COUNT_AW']

In [ ]:
df_compf = df_comp.join(df_comp, lsuffix = '_1', rsuffix = '_2')
print(df_compf.head())

-----

<h3 style='color:red'>VW_COMPARATIVO (FULL)</h3>

In [94]:
# Comparativo pelo último flight (21)
df_latest_flight = df.groupby('CELEBRIDADE').max()['FLIGHT'].reset_index().set_index(['CELEBRIDADE','FLIGHT'])

df_comp = df_metricas \
    .join(df['AWARENESS'], rsuffix='_SN') 

df_count_total = df \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
df_count_total.rename( columns ={ "ID": "COUNT"}, inplace=True)    
df_count_aw = df[ df['AWARENESS']==1 ] \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
df_count_aw.rename( columns ={ "ID": "COUNT"}, inplace=True)    

df_count = df_count_total \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count_aw.set_index(['FLIGHT','CELEBRIDADE']), rsuffix='_AW')

del df_count_total
del df_count_aw

df_comp = df_comp[ df_comp['AWARENESS_SN'] == 1 ] \
        .groupby(['FLIGHT','CELEBRIDADE', 'FOTO_M','FOTO_P','FOTO_G','AWARENESS', 'AWARENESS_NIVEL', 'CONSTRUCTO','METRICA'], as_index=False) \
        .agg({ "TOP2" : "sum", "BOT2" : "sum" })

df_comp = df_comp \
        .reset_index()  \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count)

df_comp['TOP2'] = df_comp['TOP2'] / df_comp['COUNT_AW']
df_comp['BOT2'] = df_comp['BOT2'] / df_comp['COUNT_AW']

df_comp = df_comp \
    .reset_index() \
    .set_index(['CELEBRIDADE','FLIGHT']) \
    .join( df_latest_flight, how='inner' )

df_comp = df_comp \
    .reset_index() \
    .set_index(['CONSTRUCTO','METRICA'])

del df_comp['COUNT']
del df_comp['COUNT_AW']

df_compf = df_comp.join(df_comp, lsuffix = '_1', rsuffix = '_2')


if OPT_GERAR_VW_COMP == 1:
    
    writeDF(df_compf, 'VW_COMPARATIVO')
    
    print("Arquivo exportado")

---

<strong>Pegar somente a quantidade de 'S' de cada 'CELEBRIDADE':</strong>

In [77]:
idc = df_awareness.index
print(idc)

MultiIndex(levels=[['Adriana Birolli', 'Adriana Esteves', 'Adriana Lima', 'Adriane Galisteu', 'Agatha Moreira', 'Ailton Graça', 'Al Pacino', 'Alcione', 'Alessandra Ambrósio', 'Alessandra Negrini', 'Alexandre (Aviões)', 'Alexandre (aviões)', 'Alexandre Borges', 'Alexandre Nero', 'Alice Braga', 'Alice Wegmann', 'Aline Riscado', 'Alinne Moraes', 'Alinne Rosa', 'Alisson Becker', 'Amaury Jr', 'Ami James', 'Ana Beatriz Barros', 'Ana Brenda', 'Ana Hickmann', 'Ana Maria Braga', 'Ana Paula Arósio', 'Ana Paula Furtado', 'Ana Paula Padrão', 'AnaVitória', 'Anderson Silva', 'Anderson Varejão', 'André Heller', 'André Marques', 'Andréa Beltrão', 'Andréia Horta', 'Angélica', 'Anitta', 'Antonio Fagundes', 'Antônia Morais', 'Aracy Balabanian', 'Arlete Salles', 'Arlindo Grund', 'Arthur Aguiar', 'Bela Gil', 'Bell Marques', 'Belo', 'Bernard', 'Bernardinho', 'Bia e Branca', 'Bianca Bin', 'Blake Lively', 'Britto Jr.', 'Bruna Hamu', 'Bruna Linzmeyer', 'Bruna Marquezine', 'Bruninho', 'Bruninho e Davi', 'Bruno Cabrerizo', 'Bruno Ferrari', 'Bruno Gagliasso', 'Bruno Gissoni', 'Bruno Mazzeo', 'Bruno Senna', 'Buddy Valastro', 'Bárbara Paz', 'Caco Ciocler', 'Caio Blat', 'Caio Castro', 'Caio Paduan', 'Camila Alves', 'Camila Pitanga', 'Camila Queiroz', 'Camila Rodrigues', 'Camilla Uckers', 'Carla Diaz', 'Carlinhos Brown', 'Carlos Alberto de Nóbrega', 'Carlos Bertolazzi', 'Carlos Nascimento', 'Carmo Dalla Vecchia', 'Carol Castro', 'Carol Celico', 'Carol Fiorentino', 'Carol Nakamura', 'Carolina Dieckmann', 'Carolina Ferraz', 'Casemiro', 'Cassius Zeilmann', 'Cauã Reymond', 'Celso Portiolli', 'Chay Suede', 'Chris Flores', 'Christiane Torloni', 'Christina Rocha', 'Cissa Guimarães', 'Clarice Falcão', 'Claude Troisgros', 'Claudia Leitte', 'Claudia Ohana', 'Cláudia Abreu', 'Cláudia Raia', 'Cléo Pires', 'Coronel Frank', 'Cris Vianna', 'Cristiane Cardoso', 'Cristiano Ronaldo', 'César Filho', 'Dan Stulbach', 'Dani Calabresa', 'Daniel', 'Daniel Alves', 'Daniel Boaventura', 'Daniel Rocha', 'Daniel de Oliveira', 'Daniela Mercury', 'Daniele Hypólito', 'Daniele Suzuki', 'Danielle Winits', 'Danilo Gentili', 'Dante', 'David Luiz', 'Deborah Evelyn', 'Deborah Secco', 'Demi Lovato', 'Denise Fraga', 'Di Ferrero', 'Didi Wagner', 'Diego Cavalieri', 'Diego Hypólito', 'Dira Paes', 'Drica Moraes', 'Du Moscovis', 'Duda - Handebol', 'Dudu Camargo', 'Dunga', 'Débora Falabella', 'Débora Nascimento', 'Edson Celulari', 'Edu Guedes', 'Eliana', 'Eliane Giardini', 'Ellen Rocche', 'Emicida', 'Emílio Dantas', 'Enrique Diaz', 'Eriberto Leão', 'Erika Januza', 'Evaristo Costa', 'Fabiana Karla', 'Falcão', 'Faustão', 'Felipe Andreoli', 'Felipe Massa', 'Felipe Simas', 'Felipe Titto', 'Felipão', 'Fernanda Gentil', 'Fernanda Lima', 'Fernanda Montenegro', 'Fernanda Motta', 'Fernanda Paes Leme', 'Fernanda Souza', 'Fernanda Torres', 'Fernanda Vasconcellos', 'Fernanda de Freitas', 'Fernandinho', 'Fernando & Sorocaba', 'Fiorella Mattheis', 'Fiuk', 'Flávia Alessandra', 'Flávio Canto', 'Francisco Cuoco', 'Fred', 'Fábio Assunção', 'Fábio Júnior', 'Fábio Porchat', 'Fátima Bernardes', 'Gabriel Braga Nunes', 'Gabriel Jesus', 'Gabriel Leone', 'Gabriel Medina', 'Gabriel Pensador', 'Gabriela Duarte', 'Gabriela Pugliesi', 'Gaby Amarantos', 'Geraldo Luís', 'Gerard Piqué', 'Gianne Albertoni', 'Giba', 'Giovanna Antonelli', 'Giovanna Ewbank', 'Giovanna Lancellotti', 'Gisele Bündchen', 'Giselle Itié', 'Glória Pires', 'Grazi Massafera', 'Gregório Duvivier', 'Guga', 'Gugu', 'Guilherme Leicam', 'Gustavo Borges', 'Gusttavo Lima', 'Helio de La Peña', 'Henri Castelli', 'Henrique Adriano Buss', 'Henrique Fogaça', 'Henrique e Juliano', 'Hernanes', 'Hugo Gloss', 'Hulk', 'Humberto Carrão', 'Humberto Martins', 'IZA', 'Ingrid Guimarães', 'Isabeli Fontana', 'Isabella Fiorentino', 'Isabella Santoni', 'Isabelle Drummond', 'Isaquias Queiroz', 'Isis Valverde', 'Ivan Lins', 'Ivete Sangalo', 'Izabel Goulart', 'Jacqueline Sato', 'Jade Barbosa', 'Jamie Oliver', 'Jaqueline (volei)', 'Jayme Matarazzo', 'Jefferson', 'Joaquim Lopes', 'Joel Santana', 'Joelma', 'Johnny Knoxville', 'Jorge & Mateus', 'Joseval Peixoto', 'Josie Pessoa', 'José Loreto', 'José Mayer', 'João Baldasserini', 'João Côrtes', 'João Miguel', 'João Neto e Frederico', 'João Vicente de Castro', 'Julia Lemmertz', 'Juliana Alves', 'Juliana Didone', 'Juliana Paes', 'Juliana Paiva', 'Julianne Trevisol', 'Juliano Cazarré', 'Junior Cigano', 'Jô (jogador)', 'Jô Soares', 'Júlia Rabello', 'Júlio César', 'Kaká', 'Karol Conka', 'Klebber Toledo', 'Kéfera Buchmann', 'Larissa Manoela', 'Laura Neiva', 'Leandra Leal', 'Leandro Hassum', 'Lethicia Bronstein', 'Leticia Lima', 'Letícia Bufoni', 'Letícia Colin', 'Letícia Sabatella', 'Letícia Spiller', 'Luan Santana', 'Luana Piovani', 'Lucas Lucco', 'Lucas Moura', 'Luciano Huck', 'Ludmilla', 'Luisa Arraes', 'Luiz Fernando Guimarães', 'Luiz Gustavo', 'Luiza Possi', 'Lulu Santos', 'Lyoto Machida', 'Lázaro Ramos', 'Lília Cabral', 'MC Guimê', 'Maiara & Maraisa', 'Maicon', 'Malu Mader', 'Malvino Salvador', 'Marcello Melo Jr.', 'Marcello Novaes', 'Marcelo (jogador)', 'Marcelo Adnet', 'Marcelo Melo e Bruno Soares', 'Marcelo Médici', 'Marcelo Serrado', 'Marcelo Tas', 'Marcio Atalla', 'Marco Pigossi', 'Marcos (goleiro)', 'Marcos Mion', 'Marcos Palmeira', 'Marcos Pasquim', 'Marcos Pitombo', 'Marcos Veras', 'Marcos e Belutti', 'Marcão do Povo', 'Maria Casadevall', 'Maria Clara Gueiros', 'Maria Fernanda Cândido', 'Maria Ribeiro', 'Maria Suelen', 'Mariana Godoy', 'Mariana Rios', 'Mariana Weickert', 'Mariana Xavier', 'Mariana Ximenes', 'Marieta Severo', 'Marina Ruy Barbosa', 'Mario Balotelli', 'Marisa Orth', 'Marjorie Estiano', 'Marlon Teixeira', 'Marlon Zanotelli', 'Marquinhos', 'Marta', 'Marília Gabriela', 'Marília Mendonça', 'Mateus Solano', 'Matheus e Kauan', 'Mauricio Lima', 'Mauro Vinicius (Duda)', 'Maurício Destri', 'Maxwell', 'Maya Gabeira', 'Mayra Aguiar', 'Mc Marcelly', 'Messi', 'Michael Phelps', 'Michel Teló', 'Miguel Falabella', 'Minotauro', 'Miranda', 'Monica Iozzi', 'Murilo Benício', 'Márcio Garcia', 'Naiara Azevedo', 'Naldo', 'Nanda Costa', 'Narcisa', 'Nathalia Dill', 'Nathalia Timberg', 'Nego do Borel', 'Neymar', 'Odilon Wagner', 'Olivier Anquier', 'Oscar (Chelsea)', 'Oscar Schmidt', 'Otaviano Costa', 'Otávio Mesquita', 'Pabllo Vittar', 'Pablo do Arrocha', 'Palmirinha', 'Paloma Bernardi', 'Paola Carosella', 'Paolla Oliveira', 'Patricia Pillar', 'Patrícia Abravanel', 'Patrícia Poeta', 'Paula Fernandes', 'Paulinho', 'Paulo Betti', 'Paulo Gustavo', 'Paulo Miklos', 'Paulo Ricardo', 'Paulo Vilhena', 'Paulo Zulu', 'Pedro Bial', 'Pelé', 'Philippe Coutinho', 'Preta Gil', 'Priscila Fantin', 'Rachel Sheherazade', 'Rafa Brites', 'Rafael Cardoso', 'Rafael Infante', 'Rafael Nadal', 'Rafael Silva', 'Rafael Vitti', 'Rafinha Bastos', 'Ramires', 'Ratinho', 'Raul Gil', 'Rebeca Abravanel', 'Regina Casé', 'Regina Duarte', 'Renata Alves', 'Renata Kuerten', 'Renata Sorrah', 'Renato Augusto', 'Renato Cardoso', 'Renato Gaúcho', 'Reynaldo Gianecchini', 'Ricardo Amorim', 'Ricardo Tozzi', 'Rick Bonadio', 'Robert Scheidt', 'Roberta Almeida', 'Roberta Rodrigues', 'Roberto Cabrini', 'Roberto Justus', 'Rodrigo Faro', 'Rodrigo Hilbert', 'Rodrigo Lombardi', 'Rodrigo Santoro', 'Rodrigo Simas', 'Roger Federer', 'Romário', 'Ronaldinho Gaúcho', 'Ronaldo', 'Roupa Nova', 'Rubens Barrichello', 'Rômulo Arantes Neto', 'Rômulo Estrela', 'Sabrina Sato', 'Samantha Schmutz', 'Sandy', 'Saulo Fernandes', 'Selena Gomez', 'Selton Mello', 'Serginho (Vôlei)', 'Serginho Groisman', 'Shakira', 'Sheilla Castro', 'Sheron Menezzes', 'Sidney Oliveira', 'Silvia Abravanel', 'Simone e Simaria', 'Solange Almeida', 'Solange Frazão', 'Sophia Abrahão', 'Sophia Vergara', 'Sophie Charlotte', 'Susana Vieira', 'Sylvester Stallone', 'Sérgio Guizé', 'Sérgio Marone', 'Sérgio Sette Câmara', 'Tainá Müller', 'Tarcísio Meira', 'Tatá Werneck', 'Taís Araújo', 'Terry Crews', 'Thaila Ayala', 'Thaís Fersoza', 'Thiago Arancam', 'Thiago Braz', 'Thiago Fragoso', 'Thiago Lacerda', 'Thiago Martins', 'Thiago Pereira', 'Thiago Rodrigues', 'Thiago Silva', 'Thiaguinho', 'Tiago Abravanel', 'Tiago Iorc', 'Tiago Leifert', 'Ticiana Villas Boas', 'Ticiane Pinheiro', 'Tite', 'Tom Cavalcante', 'Tony Ramos', 'Totia Meireles', 'Usain Bolt', 'Valesca Popozuda', 'Vanessa Giácomo', 'Vera Holtz', 'Victor (jogador)', 'Victor e Leo', 'Vitor Belfort', 'Vitória Strada', 'Viviane Araújo', 'Vladimir Brichta', 'Wagner Moura', 'Wanessa Camargo', 'Wesley Safadão', 'Willian', 'Xuxa', 'Yane Marques', 'Yanna Lavigne', 'Yasmin Brunet', 'Zezé Di Camargo', 'Zezé Di Camargo e Luciano', 'Zé Neto e Cristiano', 'reynaldo gianecchini', 'Érick Jacquin'], [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]],

In [93]:
print(df_awareness.loc[['Alessandra Negrini', '21']])

AW                            N      S  AWARENESS AWARENESS_NIVEL
CELEBRIDADE        FLIGHT
Alessandra Negrini 21      69.0  144.0   0.676056            Alto

---