<h1 style='color:#ef9709'>PERSONAS - SÉRIE HISTÓRICA</h1>

<h4 style='color:blue'>Última atualização</h4>

<table style="float:left">
  <tr>
    <th style="text-align:center">Data</th>
    <th style="text-align:center">Autor</th> 
  </tr>
  <tr>
    <td style="text-align:left">21/11/2018</td>
    <td style="text-align:left">Kevin Nakasaki</td> 
  </tr>
</table>

<h2>1. Preparação</h2>

Primeiro é necessário importar as bibliotecas:

In [1]:
import numpy as np
import pandas as pd

Cria-se as variáveis para no futuro criar os "txt" finais, que serão importados no SQL Server:

In [2]:
# Mudar para 1 quando for gerar as bases
while True:
    try:
        OPT_GERAR_VW_BASE = int(input("Você quer gerar VW_BASE? 1-Sim; 0-Não\n"))       
    except ValueError:
        print("O valor inserido não é um número.")
        continue
    else:
        if OPT_GERAR_VW_BASE not in range(0,2):
            print("Coloque 1-Sim; 0-Não")
        else:
            break

while True:
    try:
        OPT_GERAR_VW_BASE_METRICAS = int(input("Você quer gerar VW_BASE_METRICAS? 1-Sim; 0-Não\n"))       
    except ValueError:
        print("O valor inserido não é um número.")
        continue
    else:
        if OPT_GERAR_VW_BASE_METRICAS not in range(0,2):
            print("Coloque 1-Sim; 0-Não")
        else:
            break

while True:
    try:
        OPT_GERAR_VW_COMP = int(input("Você quer gerar VW_COMPARATIVO? 1-Sim; 0-Não\n"))       
    except ValueError:
        print("O valor inserido não é um número.")
        continue
    else:
        if OPT_GERAR_VW_COMP not in range(0,2):
            print("Coloque 1-Sim; 0-Não")
        else:
            break

Você quer gerar VW_BASE? 1-Sim; 0-Não
1
Você quer gerar VW_BASE_METRICAS? 1-Sim; 0-Não
1
Você quer gerar VW_COMPARATIVO? 1-Sim; 0-Não
1

---

<h3 style=color:red>1.1 Informe o número do flight atual</h3>

In [3]:
#Colocar o número do flight atual
while True:
    try:
        FLIGHT_ATUAL = int(input("Qual é o número do flight atual? Insira um valor maior que 21!\n"))       
    except ValueError:
        print("O valor inserido não é um número.")
        continue
    else:
        if FLIGHT_ATUAL < 22:
            print("Insira um valor maior que 21!")
        else:
            break

Qual é o número do flight atual? Insira um valor maior que 21!
23

---

Cria-se uma variável que será usada para o caminho da pasta raíz do projeto; um atalho para buscar os próximos arquivos:

In [4]:
# Se houver acentuação incorrerá em erro
PATH_R = r'C:\Users\Kevin Nakasaki\OneDrive - Ilumeo Brasil\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao\SERIE'
PATH_W = r'C:\Users\Kevin Nakasaki\OneDrive - Ilumeo Brasil\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao'
PATH_FL = r'C:\Users\Kevin Nakasaki\OneDrive - Ilumeo Brasil\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao\%s' % FLIGHT_ATUAL
PATH_FLX = r'C:\Users\Kevin Nakasaki\OneDrive - Ilumeo Brasil\DT_PROJETOS\PERSONA - SERIE HISTORICA\Importacao\%s' % str(int(FLIGHT_ATUAL)-1)

Define a função 'loadDF' que têm três argumentos:
- file = nome do arquivo
- enc = tipo de codificação (por padrão é 'utf-8')
- sep = tipo do separador dos valores no arquivo (por padrão é ',')

A função lê o arquivo (precisa ser "txt") e o aloca na variável em que for chamado:

In [5]:
def loadDF(file, enc="UTF-8", sep=','): return pd.read_csv(PATH_R + r'\{0}.txt'.format(file), encoding=enc, sep=sep)

Define a função 'writeDF' que têm quatro argumentos:
- dfr = nome do DataFrame ('df' alguma coisa) que é definido nesse script
- file = nome do arquivo "txt" em que o DataFrame vai ser escrito
- enc = tipo de codificação (por padrão é 'utf-8')
- sep = tipo do separador dos valores no arquivo (por padrão é ',')

A função escreve o DataFrame criado no python em um arquivo "txt":

In [6]:
def writeDF(dfr, file, enc="UTF-8", sep=','): return dfr.to_csv(PATH_W + r'\{0}{1}.txt'.format(file, FLIGHT_ATUAL), header=True, encoding=enc, sep=",", float_format="%.3f")

In [7]:
def writeDF_FL(dfr, file, enc="UTF-8", sep=','): return dfr.to_csv(PATH_FL + r'\{0}{1}.txt'.format(file, FLIGHT_ATUAL), header=True, encoding=enc, sep="\t", float_format="%.3f", index=False)

---

<h2 style='color:red'>2. Leitura do arquivo da série histórica</h2>

Lê o "txt" da série histórica que será alocado na variável do DF de Base:

In [8]:
# Se houver acentuação incorrerá em erro
if FLIGHT_ATUAL == 22:
    df = pd.read_csv(PATH_R + '\SERIE_HISTORICA_FL21.txt', sep='\t', encoding= 'ISO-8859-1')
else:
    df = pd.read_csv(PATH_FLX + '\SERIE_HISTORICA_FL{}.txt'.format(str(int(FLIGHT_ATUAL)-1)), sep='\t', encoding= 'UTF-8')

---

<h2>3. Append do último flight</h2>

Junta o último flight à série histórica:

<h4 style='color:blue'>Histórico de flights</h4>

<table style="float:left">
  <tr>
    <th style="text-align:center">Data</th>
    <th style="text-align:center">Flight</th> 
  </tr>
  <tr>
    <td style="text-align:center">09/10/2018</td>
    <td style="text-align:center">22</td> 
  </tr>
  <tr>
    <td style="text-align:center">12/11/2018</td>
    <td style="text-align:center">23</td> 
  </tr>
</table>

In [9]:
fl = pd.read_csv(PATH_FL + '\BASE_FL{0}.txt'.format(FLIGHT_ATUAL), sep='\t', encoding= 'ISO-8859-1')

In [10]:
# Exceção para inserir a coluna 'ID' no dataframe para fazer o join com a base da 'série histórica'.

try:
    fl.insert(0, 'ID', range(0, len(fl)))
except:
    pass

fl = fl.reset_index(drop=True)

In [11]:
fl.columns

Index(['ID', 'FLIGHT', 'CELEBRIDADE', 'IP', 'ESTADO', 'IDADE', 'ESTADO_CIVIL',
       'TEM_FILHOS', 'RENDA', 'ESCOLARIDADE', 'SEXO', 'AWARENESS', 'NOME',
       'OPINIAO', 'LEMBRANCA_DE_MARCA', 'GOSTO_MUITO', 'ME_IDENTIFICO',
       'TENHO_RESPEITO', 'PRESTO_ATENCAO', 'CONFIO',
       'MUITO_BOM_NAQUILO_QUE_FAZ', 'INTELIGENTE', 'DETERMINADO', 'HONESTO',
       'ENGRAÇADO', 'LINDO', 'SEDUTOR', 'DO_POVO', 'CARA_DO_BRASIL',
       'INOVADOR', 'GOSTA_DE_DESAFIOS', 'TENHO_VISTO_NA_MIDIA',
       'BOA_PARA_PROPAGANDA', 'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
       'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
       'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
       'INDICARIA_PARA_AMIGOS_MARCAS',
       'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE'],
      dtype='object')

In [12]:
# Verifica a quantidade de colunas do dataframe
len(fl.columns)

38

O bloco de código abaixo junta a base da "série histórica" atual, com o último flight citado:

In [13]:
df = df.append(fl, ignore_index=True, sort=False)
df["ID"] = (df.index)+1

# Variável para gerar o arquivo para a próxima série histórica que vai se tornar o DF de Base dos outros flights
OPT_GERAR_PROX_SERIE_HISTORICA = 1

<h3 style='color:black'>3.1. Gerar arquivo da próxima série histórica com o flight atual já adicionado</h3>

In [14]:
if OPT_GERAR_PROX_SERIE_HISTORICA == 1:
    writeDF_FL(df, 'SERIE_HISTORICA_FL')
    print('Nova série histórica gerada com sucesso!')

Nova série histórica gerada com sucesso!

---

<h2 style='color:black'>4. Manipulação do DF de Base</h2>

Exceção para verificar se existem todas as colunas no DataFrame e deletar a coluna 'IP'.
Se retornar um erro, o bloco de código passa sem executar nada:

In [15]:
try:
    df = df[pd.Series(['CELEBRIDADE', 'ID', 'FLIGHT', 'ESTADO', 'IDADE', 'ESTADO_CIVIL',
       'TEM_FILHOS', 'RENDA', 'ESCOLARIDADE', 'SEXO', 'AWARENESS', 'NOME',
       'OPINIAO', 'LEMBRANCA_DE_MARCA', 'GOSTO_MUITO', 'ME_IDENTIFICO',
       'TENHO_RESPEITO', 'PRESTO_ATENCAO', 'CONFIO',
       'MUITO_BOM_NAQUILO_QUE_FAZ', 'INTELIGENTE', 'DETERMINADO', 'HONESTO',
       'ENGRAÇADO', 'LINDO', 'SEDUTOR', 'DO_POVO', 'CARA_DO_BRASIL',
       'INOVADOR', 'GOSTA_DE_DESAFIOS', 'TENHO_VISTO_NA_MIDIA',
       'BOA_PARA_PROPAGANDA', 'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
       'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
       'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
       'INDICARIA_PARA_AMIGOS_MARCAS',
       'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE'])]

    del df['IP', 'PALAVRAS', 'LEMB_MARCAS']
except:
    pass

Cria um item no DataFrame 'df' chamado 'IX' e o configura para ser igual ao 'ID'. Em seguida o configura para ser o índice do dicionário:

In [16]:
df["IX"] = df["ID"]
df = df.set_index("IX")

---

<h2 style='color:black'>5. Tratamento de METADADOS</h2>

In [17]:
meta = loadDF("METADADOS", enc="UTF-8")
meta["COLUNA2"] = meta["COLUNA"]
meta = meta.set_index("COLUNA2")

---

<h2 style='color:black'>6. Tratamento de FOTOS</h2>

Define o DataFrame 'df_fotos' utilizando a função 'loadDF' e já configura a coluna 'CELEBRIDADE' como índice:

In [18]:
df_fotos = loadDF('\FOTOS', enc= 'ISO-8859-1', sep='\t').set_index('CELEBRIDADE')
df_fotos

,FOTO_P,FOTO_M,FOTO_G
CELEBRIDADE,,,
Zizi Possi,p/150x150_33.jpg,m/599x350_33.jpg,g/1349x899_31.jpg
Sasha Meneghel,p/150x150_1.png,m/599x350_1.png,g/1349x899_1.png
Sérgio Malheiros,p/150x150_31.jpg,m/599x350_31.jpg,g/1349x899_29.jpg
Rouge,p/150x150_27.jpg,m/599x350_27.jpg,g/1349x899_25.jpg
Sabrina Petraglia,p/150x150_29.jpg,m/599x350_29.jpg,g/1349x899_27.jpg
Ricardo Pereira,p/150x150_25.jpg,m/599x350_25.jpg,g/1349x899_23.jpg
Pâmela Tomé,p/150x150_23.jpg,m/599x350_23.jpg,g/1349x899_21.jpg
Mariana Ferrão,p/Mariana_FerrYo_P_1.jpg,m/Mariana_FerrYo_599x350.jpg,g/Mariana_FerrYo_1349x899.jpg
Nadja Haddad,p/150x150_21.jpg,m/599x350_21.jpg,g/1349x899_19.jpg
Marco Luque,p/150x150_19.jpg,m/599x350_19.jpg,g/1349x899_17.jpg
Manu Gavassi,p/150x150_17.jpg,m/599x350_17.jpg,g/1349x899_15.jpg
Livia Andrade,p/150x150_15.jpg,m/599x350_15.jpg,g/1349x899_13.jpg
José de Abreu,p/150x150_11.jpg,m/599x350_11.jpg,g/1349x899_9.jpg
Karina Bacchi,p/150x150_13.jpg,m/599x350_13.jpg,g/1349x899_11.jpg
Helen Ganzarolli,p/150x150_9.jpg,m/599x350_9.jpg,g/1349x899_7.jpg
Fabrício Boliveira,p/150x150_7.jpg,m/599x350_7.jpg,g/1349x899_5.jpg
Duda Nagle,p/150x150_5.jpg,m/599x350_5.jpg,g/1349x899_3.jpg
Chandelly Braz,p/150x150_3.jpg,m/599x350_3.jpg,g/1349x350_1.jpg
Cacau Protásio,p/150x150_1.jpg,m/599x350_1.jpg,g/1349x899_1.jpg
Alice Wegmann,p/Alice_Wegmann_P_1.jpg,m/Alice_Wegmann_M_1.jpg,g/Alice_Wegmann_G_1.jpg
Claudia Ohana,p/Claudia_Ohana_P.jpg,m/Claudia_Ohana_M.jpg,g/Claudia_Ohana_G.jpg
Daniel de Oliveira,p/Daniel_de_Oliveira_P_1.jpg,m/Daniel_de_Oliveira_M_1.jpg,g/Daniel_de_Oliveira_G_1.jpg
Francisco Cuoco,p/Francisco_Cuoco_P.jpg,m/Francisco_Cuoco_M.jpg,g/Francisco_Cuoco_G.jpg
IZA,p/IZA_-_150x150.jpg,m/IZA_-_599x350.jpg,g/IZA_-_1349x899.jpg
Jacqueline Sato,p/Jacqueline_Sato_P.jpg,m/Jacqueline_Sato_M.jpg,g/Jacqueline_Sato_G.jpg
João Côrtes,p/JoYo_CYrtes_P.jpg,m/JoYo_CYrtes_M.jpg,g/JoYo_CYrtes_G.jpg
Júlia Rabello,p/JYlia_Rabello_P.jpg,m/JYlia_Rabello_M.jpg,g/JYlia_Rabello_G.jpg
Tom Cavalcante,p/Tom_Cavalcante_P.jpg,m/Tom_Cavalcante_M.jpg,g/Tom_Cavalcante_G.jpg
Zé Neto & Cristiano,p/ZY_Neto_e_Cristiano_P.jpg,m/ZY_Neto_e_Cristiano_M.jpg,g/ZY_Neto_e_Cristiano_G.jpg
Bruno Mazzeo,p/Bruno_Mazzeo_P.jpg,m/Bruno_Mazzeo_M.jpg,g/Bruno_Mazzeo_G.jpg
...,...,...,...
Zezé Di Camargo e Luciano,p/Pequena_-_ZezY_di_Camargo_e_Luciano_2.png,m/MYdia_-_ZezY_di_Camargo_e_Luciano_2.png,g/GRande_-_ZezY_di_Camargo_e_Luciano_2.png
Adele,p/150x150_3.png,m/599x350_3.png,g/1349x899_3.png
Alicia Keys,p/Alicia_Keys.jpg,m/Alicia_Keys.jpg,g/Alicia_Keys.jpg
Beyoncé,p/BeyoncY.jpg,m/BeyoncY.jpg,g/BeyoncY.jpg
Brad Pitt,p/150x150_47.jpg,m/599x350_47.jpg,g/1349x899_45.jpg
George Clooney,p/clooney_P.jpg,m/clooney_M.jpg,g/clooney_G.jpg
Katy Perry,p/150x150_51.jpg,m/599x350_51.jpg,g/1349x899_49.jpg
Jennifer Lopez,p/150x150_49.jpg,m/599x350_49.jpg,g/1349x899_47.jpg
Leonardo DiCaprio,p/150x150_53.jpg,m/599x350_53.jpg,g/1349x899_51.jpg
Mário Frias,p/MYrio_Frias_-_150x150_1.png,m/MYrio_Frias_-_599x350_1.png,g/MYrio_Frias_-_1349x899_1.png
Sérgio Sette Câmara,p/SYrgio_Sette_CYmara_P.jpg,m/SYrgio_Sette_CYmara_M.jpg,g/SYrgio_Sette_CYmara_G.jpg
Luiz Felipe Fonteles,p/Luiz_Felipe_Fonteles_150x150.jpg,m/Luiz_Felipe_Fonteles_599x350.jpg,g/Luiz_Felipe_Fonteles_1349x899.jpg
Baco Exu do Blues,p/Baco_Exu_do_Blues_150x150.jpg,m/Baco_Exu_do_Blues_599x350.jpg,g/Baco_Exu_do_Blues_1349x899.jpg
Luísa Sonza,p/LuYsa_Sounza_150x150.jpg,m/LuYsa_Sounza_599x350.jpg,g/LuYsa_Sounza_1349x899.jpg
Léo Santana,p/LYo_Santana_150x150.jpg,m/LYo_Santana_599x350.jpg,g/LYo_Santana_1349x899.jpg
Anelis Assumpção,p/Anelis_AssumpYYo_150x150.jpg,m/Anelis_AssumpYYo_599x350.jpg,g/Anelis_AssumpYYo_1349x899.jpg
Gabriel Barbosa (Gabigol),p/Gabigol_150x150.jpg,m/Gabigol_599x350.jpg,g/Gabigol_1349x899.jpg
Léo Dias,p/LYo_Dias_150x150.jpg,m/LYo_Dias_599x350.jpg,g/LYo_Dias_1349x899.jpg
Fernanda Garay,p/Fernanda_Garay_150x150.jpg,m/Fernanda_Garay_599x350.jpg,g/Fernanda_Garay_1349x899.jpg
Paulo Henrique Ganso,p/Paulo_Henrique_Ganso_150x150.jpg,m/Paulo_Henrique_Ganso_599x350.jpg,g/Paulo_Henrique_Ganso_1349x899.jpg
Bella Falconi,p/Bella_Falconi_150x150.jpg,m/Bella_Falconi_599x350.jpg,g/Bella_Falconi_1349x899.jpg
Claudia Abreu,p/Claudia%20Abreu.jpg,m/Claudia%20Abreu.jpg,g/Claudia%20Abreu.jpg
Bruno Vicari,p/Bruno_Vicari_150x150.jpg,m/Bruno_Vicari_599x350.jpg,g/Bruno_Vicari_1349x899.jpg
Lilia Cabral,p/Lilia_Cabral_150x150.jpg,m/Lilia_Cabral_599x350.jpg,g/Lilia_Cabral_1349x899.jpg
Ana Vilela,p/Ana_Vilela_150x150.jpg,m/Ana_Vilela_599x350.jpg,g/Ana_Vilela_1349x899.jpg
Tadeu Schmidt,p/Tadeu_Schmidt_150x150.jpg,m/Tadeu_Schmidt_599x350.jpg,g/Tadeu_Schmidt_1349x899.jpg
Ana Clara,p/Ana_Clara_150x150.jpg,m/Ana_Clara_599x350.jpg,g/Ana_Clara_1349x899.jpg
Carla Salle,p/Carla_Salles_150x150.jpg,m/Carla_Salles_599x350.jpg,g/Carla_Salles_1349x899.jpg
Nicolas Prattes,p/Nicolas_Prattes_150x150.jpg,m/Nicolas_Prattes_599x350.jpg,g/Nicolas_Prattes_1349x899.jpg
Erika Januza,p/Erika_Januza.png,m/Erika_Januza.png,g/Erika_Januza.png

---

<h2 style='color:black'>7. Tratamento de CATEGORIAS</h2>

Define o DataFrame 'df_categorias' utilizando a função 'loadDF':

In [19]:
df_categorias = loadDF('\CATEGORIAS', enc= 'ISO-8859-1', sep='\t')

<h3 style='color:black'>7.1 Verificação - CELEBRIDADES x CATEGORIAS</h3>

In [20]:
df4 = df_categorias.reset_index().set_index('CELEBRIDADE')
df5 = df.copy()

#Join entre BASE e CATEGORIAS
df5 = df5.reset_index().set_index('CELEBRIDADE').join(df4).reset_index().set_index('IX')

#Mostra quais CELEBRIDADES não estão classificadas
df6 = df5[ df5['CATEGORIA'].isna()]

#Cria um arquivo se houver CELEBRIDADES NÃO CATEGORIZADAS
if df6.shape[:1] == (0,):
    print(df6)
else:
    writeDF(df6, 'COMP_CATEG')

Empty DataFrame
Columns: [CELEBRIDADE, ID, FLIGHT, ESTADO, IDADE, ESTADO_CIVIL, TEM_FILHOS, RENDA, ESCOLARIDADE, SEXO, AWARENESS, NOME, OPINIAO, LEMBRANCA_DE_MARCA, GOSTO_MUITO, ME_IDENTIFICO, TENHO_RESPEITO, PRESTO_ATENCAO, CONFIO, MUITO_BOM_NAQUILO_QUE_FAZ, INTELIGENTE, DETERMINADO, HONESTO, ENGRAÇADO, LINDO, SEDUTOR, DO_POVO, CARA_DO_BRASIL, INOVADOR, GOSTA_DE_DESAFIOS, TENHO_VISTO_NA_MIDIA, BOA_PARA_PROPAGANDA, COMPRARIA_PRODUTOS_QUE_ANUNCIASSE, BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS, ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE, INDICARIA_PARA_AMIGOS_MARCAS, COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE, index, CATEGORIA]
Index: []

[0 rows x 39 columns]

In [21]:
#<h3 style='color:black'>7.2 Tratamento do DataFrame de Categorias</h3>

#Atualiza o DataFrame 'df_categorias' resetando o índice do DataFrame. **Por não ter o argumento *drop=True*, 
#o índice antigo se transforma numa nova coluna no DataFrame**.
#Em seguida cria um DataFrame no qual o índice é a coluna 'CELEBRIDADE' e a coluna do DataFrame é a 'CATEGORIA', 
#agrupando tudo através da função *lambda* definida, ao invés do padrão que é *numpy.mean* 
#(**verificar com o Danilo para quê isso foi feito**):

#df_categorias = df_categorias  \
#    .reset_index() \
#    .pivot_table(index='CELEBRIDADE' ,columns=['CATEGORIA'], aggfunc=lambda x : x)

---

<h2 style='color:black'>8. Join entre BASE e FOTOS</h2>

O código abaixo executa os seguintes passos:
1. Reseta o índice do DataFrame 'df' (que puxou o arquivo 'SERIE_HISTORICA_FL21')
2. Configura como novo índice a coluna 'CELEBRIDADE'
3. Junta o 'df' com 'df_fotos' utilizando os seus índices (de ambos são a coluna 'CELEBRIDADE')
4. Reseta o índice de 'df' novamente (já que já foi utilizado para o *join*)
5. Configura novamente o índice para a coluna 'IX'

In [22]:
df = df.reset_index().set_index('CELEBRIDADE').join(df_fotos).reset_index().set_index('IX')

A função *option_context()* é utilizada para permitir que todas as colunas sejam mostradas no *print()*, para conferir se o *join* foi realizado corretamente.

A função *head()* retorna, por padrão, as primeiras 5 linhas do DataFrame para verificar os tipos de dados que o DataFrame contém.

In [23]:
# Verificação de print() sem o option_context()
print(df.head())

       CELEBRIDADE      ID  FLIGHT  ESTADO  IDADE  ESTADO_CIVIL  TEM_FILHOS  \
IX
127543       Adele  127543      21       1     10             1           2
127544       Adele  127544      21      19     14             1           2
127545       Adele  127545      21      11     23             2           1
127546       Adele  127546      21       7     13             2           1
127547       Adele  127547      21       1     18             2           1

        RENDA  ESCOLARIDADE  SEXO        ...         TENHO_VISTO_NA_MIDIA  \
IX                                       ...
127543      8             6     1        ...                          NaN
127544      5             5     2        ...                          NaN
127545      5             4     2        ...                          NaN
127546      3             5     1        ...                          NaN
127547      5             6     2        ...                          NaN

       BOA_PARA_PROPAGANDA COMPRARIA_PRODUTOS_QUE_ANUNCIASSE  \
IX
127543                 NaN                               NaN
127544                 NaN                               NaN
127545                 NaN                               NaN
127546                 NaN                               NaN
127547                 NaN                               NaN

       BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS  \
IX
127543                                  NaN
127544                                  NaN
127545                                  NaN
127546                                  NaN
127547                                  NaN

        ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
127543                                                NaN
127544                                                NaN
127545                                                NaN
127546                                                NaN
127547                                                NaN

        INDICARIA_PARA_AMIGOS_MARCAS  \
IX
127543                           NaN
127544                           NaN
127545                           NaN
127546                           NaN
127547                           NaN

        COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
127543                                                NaN
127544                                                NaN
127545                                                NaN
127546                                                NaN
127547                                                NaN

                 FOTO_P           FOTO_M            FOTO_G
IX
127543  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127544  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127545  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127546  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127547  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png

[5 rows x 40 columns]

In [24]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 100):
    print(df.head())

       CELEBRIDADE      ID  FLIGHT  ESTADO  IDADE  ESTADO_CIVIL  TEM_FILHOS  \
IX
127543       Adele  127543      21       1     10             1           2
127544       Adele  127544      21      19     14             1           2
127545       Adele  127545      21      11     23             2           1
127546       Adele  127546      21       7     13             2           1
127547       Adele  127547      21       1     18             2           1

        RENDA  ESCOLARIDADE  SEXO  AWARENESS NOME OPINIAO LEMBRANCA_DE_MARCA  \
IX
127543      8             6     1          2  NaN     NaN                NaN
127544      5             5     2          2  NaN     NaN                NaN
127545      5             4     2          2  NaN     NaN                NaN
127546      3             5     1          2  NaN     NaN                NaN
127547      5             6     2          2  NaN     NaN                NaN

        GOSTO_MUITO  ME_IDENTIFICO  TENHO_RESPEITO  PRESTO_ATENCAO  CONFIO  \
IX
127543          NaN            NaN             NaN             NaN     NaN
127544          NaN            NaN             NaN             NaN     NaN
127545          NaN            NaN             NaN             NaN     NaN
127546          NaN            NaN             NaN             NaN     NaN
127547          NaN            NaN             NaN             NaN     NaN

        MUITO_BOM_NAQUILO_QUE_FAZ  INTELIGENTE  DETERMINADO  HONESTO  \
IX
127543                        NaN          NaN          NaN      NaN
127544                        NaN          NaN          NaN      NaN
127545                        NaN          NaN          NaN      NaN
127546                        NaN          NaN          NaN      NaN
127547                        NaN          NaN          NaN      NaN

        ENGRAÇADO  LINDO  SEDUTOR  DO_POVO  CARA_DO_BRASIL  INOVADOR  \
IX
127543        NaN    NaN      NaN      NaN             NaN       NaN
127544        NaN    NaN      NaN      NaN             NaN       NaN
127545        NaN    NaN      NaN      NaN             NaN       NaN
127546        NaN    NaN      NaN      NaN             NaN       NaN
127547        NaN    NaN      NaN      NaN             NaN       NaN

        GOSTA_DE_DESAFIOS  TENHO_VISTO_NA_MIDIA  BOA_PARA_PROPAGANDA  \
IX
127543                NaN                   NaN                  NaN
127544                NaN                   NaN                  NaN
127545                NaN                   NaN                  NaN
127546                NaN                   NaN                  NaN
127547                NaN                   NaN                  NaN

        COMPRARIA_PRODUTOS_QUE_ANUNCIASSE  \
IX
127543                                NaN
127544                                NaN
127545                                NaN
127546                                NaN
127547                                NaN

        BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS  \
IX
127543                                   NaN
127544                                   NaN
127545                                   NaN
127546                                   NaN
127547                                   NaN

        ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
127543                                                NaN
127544                                                NaN
127545                                                NaN
127546                                                NaN
127547                                                NaN

        INDICARIA_PARA_AMIGOS_MARCAS  \
IX
127543                           NaN
127544                           NaN
127545                           NaN
127546                           NaN
127547                           NaN

        COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
IX
127543                                                NaN
127544                                                NaN
127545                                                NaN
127546                                                NaN
127547                                                NaN

                 FOTO_P           FOTO_M            FOTO_G
IX
127543  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127544  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127545  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127546  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png
127547  p/150x150_3.png  m/599x350_3.png  g/1349x899_3.png

---

<h2 style='color:black'>9. Verificação - Problemas na BASE</h2>

In [25]:
#Verificação - CELEBRIDADES x FOTOS
#VERIF_FOTOS = 1
#df3 = df[ df["FOTO_P"].isna() ]
#print(df3["CELEBRIDADE"].unique(), "Coluna FOTO_P")
#df3 = df[ df["FOTO_M"].isna() ]
#print(df3["CELEBRIDADE"].unique(), "Coluna FOTO_M")
#df3 = df[ df["FOTO_G"].isna() ]
#print(df3["CELEBRIDADE"].unique(), "Coluna FOTO_G")
#
#if VERIF_FOTOS == 1:
#    writeDF(df3, 'VERIF_FOTOS')
#    print("Arquivo exportado")

In [26]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', 10):
    # print(pd.Series(df["CELEBRIDADE"].unique()))
    # print(pd.Series(df["FLIGHT"].unique()))
    # print(pd.Series(df["ESTADO"].unique()))
    # print(pd.Series(sorted(df["IDADE"].unique())))
    # print(pd.Series(sorted(df["ESTADO_CIVIL"].unique())))
    # print(pd.Series(sorted(df["TEM_FILHOS"].unique())))
    # print(pd.Series(sorted(df["RENDA"].unique())))
    # print(pd.Series(sorted(df["ESCOLARIDADE"].unique())))
    # print(pd.Series(sorted(df["SEXO"].unique())))
    # print(pd.Series(sorted(df["AWARENESS"].unique())))

Cria a *Series* 'df2' como sendo o resultado do *subset* (no SQL = SELECT) de todos os Estados com valores maiores que 27.

Em seguida printa o *subset* do *Series* 'df2' puxando todos os valores distintos na coluna 'FLIGHT' (no SQL = SELECT DISTINCT FLIGHT FROM df2):

In [27]:
# FLIGHT 18 TÁ CAGADO, fizeram alguma bosta na coluna de Estado. Tem que esperar o Gui arrumar
df2 = df[ df["ESTADO"] > 27 ]
print(df2["FLIGHT"].unique())

[]

A função *isnull()* (também conhecida como *isna()*) retorna 'True' para cada valor nulo na coluna. Foi utilizado para buscar por valores nulos no DataFrame (aparentemente esperava-se que tudo estivesse preenchido).

In [28]:
# FLIGHT 9 TÁ CAGADO, fizeram alguma bosta nas colunas de perfil demográfico, pois estão vazias
df2 =  df [ pd.isnull(df["IDADE"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["ESTADO_CIVIL"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["TEM_FILHOS"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["RENDA"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["ESCOLARIDADE"]) ]
print(df2["FLIGHT"].unique())
df2 =  df [ pd.isnull(df["SEXO"]) ]
print(df2["FLIGHT"].unique())

[]
[]
[]
[]
[]
[]

Faz a mesma verificação por valores nulos só que dessa vez criando uma cópia do resultado e o associando em 'df2':

In [29]:
# FLIGHTS 8, 11, 12 possuem a coluna de 'AWARENESS' vazio
df2 =  df [ pd.isnull(df["AWARENESS"]) ].copy()

Printa as quantidades de celebridades em 'df2' agrupando pela coluna 'FLIGHT':

In [30]:
print(df2.groupby("FLIGHT")["CELEBRIDADE"].count() )

Series([], Name: CELEBRIDADE, dtype: int64)

Cria a variável 'ls_cols' e associa a ela uma lista criada a partir da coluna 'AWARENESS':

In [31]:
ls_cols = list(["AWARENESS"])

Adiciona o conteúdo das listas 'ls_cols' e a lista gerada a partir de 'pd.Series(df.columns)[13:-3]', criando uma única lista em 'ls_cols'.

O item *.columns* faz com que sejam "puxados" somente os *labels* das colunas que no caso são as escalas:

In [32]:
ls_cols.extend(pd.Series(df.columns)[13:-3])

Cria um DataFrame com a *Series* da lista 'ls_cols':

In [33]:
df2 = df [ pd.Series(ls_cols) ]

Printa um sumário com as principais estatísticas excluindo-se os valores *NaN*:

In [34]:
print(df2.describe())

           AWARENESS    GOSTO_MUITO  ME_IDENTIFICO  TENHO_RESPEITO  \
count  214150.000000  140349.000000  140349.000000   140349.000000
mean        1.345365       5.022800       4.578080        5.416056
std         0.475488       1.877245       2.006231        1.723089
min         1.000000       1.000000       1.000000        1.000000
25%         1.000000       4.000000       3.000000        4.000000
50%         1.000000       5.000000       5.000000        6.000000
75%         2.000000       7.000000       6.000000        7.000000
max         2.000000       7.000000       7.000000        7.000000

       PRESTO_ATENCAO         CONFIO  MUITO_BOM_NAQUILO_QUE_FAZ  \
count   140349.000000  140349.000000              140349.000000
mean         4.927531       4.847117                   5.644087
std          1.952298       1.880740                   1.675964
min          1.000000       1.000000                   1.000000
25%          4.000000       4.000000                   5.000000
50%          5.000000       5.000000                   6.000000
75%          7.000000       7.000000                   7.000000
max          7.000000       7.000000                   7.000000

         INTELIGENTE    DETERMINADO        HONESTO  \
count  140349.000000  140349.000000  140349.000000
mean        5.496605       5.494902       5.195698
std         1.673914       1.665628       1.717665
min         1.000000       1.000000       1.000000
25%         4.000000       4.000000       4.000000
50%         6.000000       6.000000       6.000000
75%         7.000000       7.000000       7.000000
max         7.000000       7.000000       7.000000

                               ...                            CARA_DO_BRASIL  \
count                          ...                             140349.000000
mean                           ...                                  5.025999
std                            ...                                  1.905422
min                            ...                                  1.000000
25%                            ...                                  4.000000
50%                            ...                                  5.000000
75%                            ...                                  7.000000
max                            ...                                  7.000000

            INOVADOR  GOSTA_DE_DESAFIOS  TENHO_VISTO_NA_MIDIA  \
count  140349.000000      140349.000000         140349.000000
mean        5.091885           5.329315              5.346878
std         1.817309           1.727983              1.805058
min         1.000000           1.000000              1.000000
25%         4.000000           4.000000              4.000000
50%         5.000000           6.000000              6.000000
75%         7.000000           7.000000              7.000000
max         7.000000           7.000000              7.000000

       BOA_PARA_PROPAGANDA  COMPRARIA_PRODUTOS_QUE_ANUNCIASSE  \
count        140349.000000                      140349.000000
mean              5.332792                           5.020549
std               1.798257                           1.870792
min               1.000000                           1.000000
25%               4.000000                           4.000000
50%               6.000000                           5.000000
75%               7.000000                           7.000000
max               7.000000                           7.000000

       BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS  \
count                         140349.000000
mean                               5.226001
std                                1.849864
min                                1.000000
25%                                4.000000
50%                                6.000000
75%                                7.000000
max                                7.000000

       ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE  \
count                                      140349.000000
mean                                            4.978667
std                                             1.893858
min                                             1.000000
25%                                             4.000000
50%                                             5.000000
75%                                             7.000000
max                                             7.000000

       INDICARIA_PARA_AMIGOS_MARCAS  \
count                 140349.000000
mean                       5.004304
std                        1.887250
min                        1.000000
25%                        4.000000
50%                        5.000000
75%                        7.000000
max                        7.000000

       COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE
count                                      140349.000000
mean                                            5.043356
std                                             1.891172
min                                             1.000000
25%                                             4.000000
50%                                             5.000000
75%                                             7.000000
max                                             7.000000

[8 rows x 24 columns]

In [35]:
# As escalas ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE e INDICARIA_PARA_AMIGOS_MARCAS não foram respondidas no flight 8

**Legenda de AWARENESS na tabela: 1 - Sei; 2 - Não Sei**

Busca no DataFrame 'df' quais são as CELEBRIDADES que são conhecidas e que os respondentes preencheram no campo 'GOSTO_MUITO'.

In [36]:
df2 = df[ df["AWARENESS"] == 1 &  pd.notnull( df["GOSTO_MUITO"]) ]

Cria uma *Series* dos *labels* do DataFrame 'df2' para verificar o DataFrame contém todas as colunas necessárias:

In [37]:
print(pd.Series(df2.columns))

0                                           CELEBRIDADE
1                                                    ID
2                                                FLIGHT
3                                                ESTADO
4                                                 IDADE
5                                          ESTADO_CIVIL
6                                            TEM_FILHOS
7                                                 RENDA
8                                          ESCOLARIDADE
9                                                  SEXO
10                                            AWARENESS
11                                                 NOME
12                                              OPINIAO
13                                   LEMBRANCA_DE_MARCA
14                                          GOSTO_MUITO
15                                        ME_IDENTIFICO
16                                       TENHO_RESPEITO
17                                       PRESTO_ATENCAO
18                                               CONFIO
19                            MUITO_BOM_NAQUILO_QUE_FAZ
20                                          INTELIGENTE
21                                          DETERMINADO
22                                              HONESTO
23                                            ENGRAÇADO
24                                                LINDO
25                                              SEDUTOR
26                                              DO_POVO
27                                       CARA_DO_BRASIL
28                                             INOVADOR
29                                    GOSTA_DE_DESAFIOS
30                                 TENHO_VISTO_NA_MIDIA
31                                  BOA_PARA_PROPAGANDA
32                    COMPRARIA_PRODUTOS_QUE_ANUNCIASSE
33                 BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS
34    ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE
35                         INDICARIA_PARA_AMIGOS_MARCAS
36    COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANU...
37                                               FOTO_P
38                                               FOTO_M
39                                               FOTO_G
dtype: object

Busca por colunas que possuem valores nulos e seus respectivos 'FLIGHTS':

In [38]:
print( df2 [ pd.isnull(df2["GOSTO_MUITO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ME_IDENTIFICO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["TENHO_RESPEITO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["PRESTO_ATENCAO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["CONFIO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["MUITO_BOM_NAQUILO_QUE_FAZ"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INTELIGENTE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["DETERMINADO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["HONESTO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ENGRAÇADO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["LINDO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["SEDUTOR"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["DO_POVO"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["CARA_DO_BRASIL"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INOVADOR"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["GOSTA_DE_DESAFIOS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["TENHO_VISTO_NA_MIDIA"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["BOA_PARA_PROPAGANDA"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["COMPRARIA_PRODUTOS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["INDICARIA_PARA_AMIGOS_MARCAS"]) ]["FLIGHT"].unique() )
print( df2 [ pd.isnull(df2["COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) ]["FLIGHT"].unique() )

print ("\n\n")

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

**Legenda de AWARENESS na tabela: 1 - Sei; 2 - Não Sei**

Cria uma condição em que é necessário que as colunas sejam nulas e que o 'AWARENESS' seja igual a 1, para printar a quantidade de CELEBRIDADES agrupadas por 'FLIGHT' em que essas condições sejam verdadeiras:

In [39]:
df3 = df2[ pd.isnull(df2["ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE"]) & df2["AWARENESS"] == 1  ]
print (df3.groupby('FLIGHT')["CELEBRIDADE"].count())

df3 = df2[ pd.isnull(df2["INDICARIA_PARA_AMIGOS_MARCAS"]) & df2["AWARENESS"] == 1  ]
print (df3.groupby('FLIGHT')["CELEBRIDADE"].count())

print ("\n\n")

Series([], Name: CELEBRIDADE, dtype: int64)
Series([], Name: CELEBRIDADE, dtype: int64)

**Verificar com Danilo por que foi feito pelo 'df' e não pelo 'df2' igual aos outros**

In [40]:
# FLIGHT 17 possui 1 registro que apesar de ter marcado que conhece o artista, não respondeu nenhuma escala
df2 =  df [ df["AWARENESS"] == 1 & pd.isnull(df["GOSTO_MUITO"]) ]
print(df2.groupby('FLIGHT')['CELEBRIDADE'].count())

print ("\n\n") 

df2 = df[ df["FLIGHT"] == 8 ]
print(df2.groupby("AWARENESS")["CELEBRIDADE"].count() )

FLIGHT
17    1
Name: CELEBRIDADE, dtype: int64



Series([], Name: CELEBRIDADE, dtype: int64)

---

<h2 style='color:black'>10. Tabelas auxiliares</h2>

In [41]:
df_escolaridade = loadDF('ESCOLARIDADE')
df_estado_civil = loadDF('ESTADOCIVIL')
df_idade = loadDF('IDADE')
df_idade2 = loadDF('IDADE_FL8_14')
df_renda = loadDF('RENDA')
df_uf = loadDF('UF')

Cria um dicionário para fazer a mesma função que as tabelas auxiliares que são importadas no SQL Server:

In [42]:
dictAux = {     "ESCOLARIDADE" : df_escolaridade.set_index('COD_ESCOLARIDADE')
              , "ESTADOCIVIL"  : df_estado_civil.set_index('COD_ESTADOCIVIL')
              , "IDADE"        : df_idade.set_index('COD_IDADE')
              , "IDADE_FL8_14" : df_idade2.set_index('COD_IDADE')
              , "RENDA"        : df_renda.set_index('COD_RENDA')
              , "UF"           : df_uf.set_index('COD_ESTADO')
          }

---

<h2 style='color:red'>11. Views para o PowerBI</h2>

<h3 style='color:blue'>11.1. VW_BASE</h3>

Cria uma cópia do DataFrame 'df' e o nomeia como 'df_base'.

Em seguida faz os *joins* para buscar as informações do dicionário auxiliar (semelhante a buscar informações das tabelas auxiliares).

A função *where()* é semelhante à um *if* no excel, em que se determinada condição for satisfeita, executar a primeira opção, caso contrário executar a segunda (*where(condition, True, False)*):

In [43]:
#Necessário colocar um IF para verificar se é um flight > que 15 para fazer o join com o arquivo "IDADE", 
#caso contrário faz o join com o arquivo "IDADE_FL8_14"

df_base = df.copy()

df_base = df_base.set_index('ESCOLARIDADE').join(dictAux["ESCOLARIDADE"])
df_base = df_base.set_index('ESTADO_CIVIL').join(dictAux["ESTADOCIVIL"])
df_base = df_base.set_index('IDADE').join(dictAux["IDADE"])
df_base = df_base.set_index('RENDA').join(dictAux["RENDA"])
df_base = df_base.set_index('ESTADO').join(dictAux["UF"])
df_base["ESCOLARIDADE"] = df["ESCOLARIDADE"]
df_base["ESTADO_CIVIL"] = df["ESTADO_CIVIL"]
df_base["IDADE"] = df["IDADE"]
df_base["RENDA"] = df["RENDA"]
df_base["ESTADO"] = df["ESTADO"]

# Correção realizada: 1 - Feminino ; 2 - Masculino
df_base["SEXO"] = np.where(df["SEXO"] == 1, "Feminino", "Masculino")
df_base["TEM_FILHOS"] = np.where(df["TEM_FILHOS"] == 1, "Sim", "Não")

Deleta as colunas de 'df_base' que estão com os valores antigos, usados para puxar os valores no *join* e renomeia as colunas que vieram das "tabelas auxiliares" para fazer o papel das colunas deletadas:

In [44]:
del df_base["ESTADO"]
del df_base["RENDA"]
del df_base["ESCOLARIDADE"]
del df_base["IDADE"]

df_base.rename( columns ={ 
    "UF_NOME" : "ESTADO" ,
    "RENDA_DESC2": "RENDA",
    "ESCOLARIDADE_DESC2" : "ESCOLARIDADE",
    "ESTADOCIVIL_DESC": "ESTADOCIVIL",
    "IDADE_INT": "IDADE"
}, inplace=True)

Bloco para gerar o arquivo que será usado na importação no SQL Server.

Ordena pela coluna 'ID' de forma ascendente e a configura para ser índice (key).
Em seguida usa a função 'writeDF' para escrever o DataFrame no arquivo "VW_BASE.txt":

In [45]:
if OPT_GERAR_VW_BASE == 1:
    df_base = df_base        \
        .sort_values(by=['ID'], ascending=True)        \
        .set_index("ID")

    writeDF(df_base, 'VW_BASE')
        
    print("Arquivo gerado")

Arquivo gerado

---

<h3 style='color:blue'>11.2. VW_BASE_METRICAS (FULL)</h3>

In [46]:
df_awareness = df.copy()

df_awareness['AW'] = np.where( df_awareness['AWARENESS'] == 1, 'S', 'N' )

In [47]:
df_aw = df.copy()

df_aw['AW'] = np.where( df_aw['AWARENESS'] == 1, 1, 0 )

In [48]:
df_awareness = df_awareness.groupby(['FLIGHT','CELEBRIDADE','AW'], as_index=False).count()
df_awareness = df_awareness[ pd.Series(['CELEBRIDADE','FLIGHT','AW', 'ID']) ].pivot_table('ID',['CELEBRIDADE','FLIGHT'],'AW')
df_awareness["AWARENESS"] = df_awareness['S'] / (df_awareness['S'] + df_awareness['N'])
df_awareness["AWARENESS_NIVEL"] = np.where( df_awareness['AWARENESS'] >= 0.70, 'Alto', 'Baixo' )

cols = [
    'ID',
    'CELEBRIDADE',
    'FLIGHT',
    'GOSTO_MUITO',
    'ME_IDENTIFICO',
    'TENHO_RESPEITO',
    'PRESTO_ATENCAO',
    'CONFIO',
    'MUITO_BOM_NAQUILO_QUE_FAZ',
    'INTELIGENTE',
    'DETERMINADO',
    'HONESTO',
    'ENGRAÇADO',
    'LINDO',
    'SEDUTOR',
    'DO_POVO',
    'CARA_DO_BRASIL',
    'INOVADOR',
    'GOSTA_DE_DESAFIOS',
    'TENHO_VISTO_NA_MIDIA',
    'BOA_PARA_PROPAGANDA',
    'COMPRARIA_PRODUTOS_QUE_ANUNCIASSE',
    'BOA_PARA_PROPAGANDA_PROJETOS_SOCIAIS',
    'ME_ENVOLVERIA_COM_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
    'INDICARIA_PARA_AMIGOS_MARCAS',
    'COMENTARIA_COM_AMIGOS_PROJETOS_SOCIAIS_QUE_ANUNCIASSE',
]

df_metricas = df.copy()

df_metricas = df_metricas[ pd.Series(cols) ]    \
    .melt(id_vars=['ID', 'CELEBRIDADE', 'FLIGHT' ],  value_name= 'VALOR', var_name='METRICA')     \
    .set_index("METRICA")     \
    .join(meta)
    
df_metricas["TOP2"] = np.where( df_metricas["VALOR"] >= 6 , 1 , 0 )
df_metricas["BOT2"] = np.where( (df_metricas["VALOR"] <= 2) & (df_metricas["VALOR"] > 0) , 1 , 0 )

del df_metricas["PERGUNTA"]
del df_metricas["COLUNA"]

df_metricas = df_metricas     \
        .set_index(['CELEBRIDADE','FLIGHT'])     \
        .join(df_awareness)     \
        .set_index("ID")     \
        .join( df[ pd.Series([ "FOTO_G" , "FOTO_M" , "FOTO_P", 'CELEBRIDADE', 'FLIGHT' ]) ]  )

# Criação dos cálculos de positivo geral e negativo geral e merge desses dados no arquivo VW_BASE_METRICAS
df_metr1 = df_metricas.groupby(['CELEBRIDADE', 'FLIGHT', 'S', 'N', 'METRICA']).sum()
df_metr1.head(10)

df_metr1 = df_metr1.reset_index().set_index('CELEBRIDADE')

# Cálculo do positivo por celebridade
df_metr1['POSITIVO_G'] = df_metr1['TOP2']/df_metr1['S']

# Cálculo do negativo por celebridade
df_metr1['NEGATIVO_G'] = df_metr1['BOT2']/df_metr1['S']

df_metr2 = df_metr1[['FLIGHT', 'METRICA', 'POSITIVO_G', 'NEGATIVO_G']]

df_metr2 = df_metr2.groupby(['FLIGHT', 'METRICA']).mean().sort_index(ascending=False)

In [49]:
# Join no df_metricas
df_metricas = df_metricas.join(df_metr2, how='inner', on=['FLIGHT', 'METRICA'])
df_metricas.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            214141, 214142, 214143, 214144, 214145, 214146, 214147, 214148,
            214149, 214150],
           dtype='int64', length=4925450)

In [50]:
if OPT_GERAR_VW_BASE_METRICAS == 1:
    
    df_metricas = df_metricas.reset_index()    
    df_metricas.rename( columns ={ "index" : "ID"}, inplace=True)    
    df_metricas = df_metricas.set_index("ID")
    writeDF(df_metricas, 'VW_BASE_METRICAS')
    #Arquivo para calcular o awareness de forma correta, separado por respondentes
    writeDF(df_aw, 'VW_AW')
    
    print("Arquivo exportado")

Arquivo exportado

-----

<h3 style='color:purple'>VW_COMPARATIVO (passo-a-passo)</h3>

In [51]:
#df_latest_flight = df.groupby('CELEBRIDADE').max()['FLIGHT'].reset_index().set_index(['CELEBRIDADE','FLIGHT'])

In [52]:
#df_comp = df_metricas \
#    .join(df['AWARENESS'], rsuffix='_SN')

In [53]:
#Visualização
#df_comp[df_comp['CELEBRIDADE'] == 'Ana Vilela']

In [54]:
#df_count_total = df \
#        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
#        .count()
#df_count_total.rename( columns ={ "ID": "COUNT"}, inplace=True)    
#df_count_aw = df[ df['AWARENESS']==1 ] \
#        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
#        .count()
#df_count_aw.rename( columns ={ "ID": "COUNT"}, inplace=True)

In [55]:
#df_count = df_count_total \
#        .set_index(['FLIGHT','CELEBRIDADE']) \
#        .join(df_count_aw.set_index(['FLIGHT','CELEBRIDADE']), rsuffix='_AW')

In [56]:
#Visualização
#df_count.index

In [57]:
#del df_count_total
#del df_count_aw

In [58]:
#df_comp[df_comp['CELEBRIDADE'] == 'Ana Vilela']

In [59]:
#df_comp = df_comp[ df_comp['AWARENESS_SN'] == 1 ] \
#        .groupby(['FLIGHT','CELEBRIDADE', 'FOTO_M','FOTO_P','FOTO_G','AWARENESS', 'AWARENESS_NIVEL', 'CONSTRUCTO','METRICA'], as_index=False) \
#        .agg({ "TOP2" : "sum", "BOT2" : "sum" })

In [60]:
#Visualização --> No passo acima algumas celebridades do flight 23 somem...
#verificacao1 = df_comp[df_comp['FLIGHT'] == 23]

In [61]:
#Visualização --> No passo acima algumas celebridades do flight 23 somem porque algumas das celebridades não têm as fotos,
# aí ao fazer o groupby utilizando as colunas de fotos, e por estas estarem com valores NaN, as linhas somem.
#verificacao1['CELEBRIDADE'].unique()

In [62]:
#df_comp = df_comp \
#        .reset_index()  \
#        .set_index(['FLIGHT','CELEBRIDADE']) \
#        .join(df_count)

In [63]:
#df_comp['TOP2'] = df_comp['TOP2'] / df_comp['COUNT_AW']
#df_comp['BOT2'] = df_comp['BOT2'] / df_comp['COUNT_AW']

In [64]:
#df_comp = df_comp \
#    .reset_index() \
#    .set_index(['CELEBRIDADE','FLIGHT']) \
#    .join( df_latest_flight, how='inner' )

In [65]:
#df_comp = df_comp \
#    .reset_index() \
#    .set_index(['CONSTRUCTO','METRICA'])

In [66]:
#del df_comp['COUNT']
#del df_comp['COUNT_AW']

In [67]:
#df_compf = df_comp.join(df_comp, lsuffix = '_1', rsuffix = '_2')

<h3 style='color:blue'>11.3. VW_COMPARATIVO (FULL)</h3>

In [68]:
# Comparativo pelo último flight (21)
df_latest_flight = df.groupby('CELEBRIDADE').max()['FLIGHT'].reset_index().set_index(['CELEBRIDADE','FLIGHT'])

df_comp = df_metricas \
    .join(df['AWARENESS'], rsuffix='_SN') 

df_count_total = df \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
df_count_total.rename( columns ={ "ID": "COUNT"}, inplace=True)    
df_count_aw = df[ df['AWARENESS']==1 ] \
        .groupby(['FLIGHT','CELEBRIDADE'], as_index=False)['ID'] \
        .count()
df_count_aw.rename( columns ={ "ID": "COUNT"}, inplace=True)    

df_count = df_count_total \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count_aw.set_index(['FLIGHT','CELEBRIDADE']), rsuffix='_AW')

del df_count_total
del df_count_aw

df_comp = df_comp[ df_comp['AWARENESS_SN'] == 1 ] \
        .groupby(['FLIGHT','CELEBRIDADE', 'FOTO_M','FOTO_P','FOTO_G','AWARENESS', 'AWARENESS_NIVEL', 'CONSTRUCTO','METRICA'], as_index=False) \
        .agg({ "TOP2" : "sum", "BOT2" : "sum" })

df_comp = df_comp \
        .reset_index()  \
        .set_index(['FLIGHT','CELEBRIDADE']) \
        .join(df_count)

df_comp['TOP2'] = df_comp['TOP2'] / df_comp['COUNT_AW']
df_comp['BOT2'] = df_comp['BOT2'] / df_comp['COUNT_AW']

df_comp = df_comp \
    .reset_index() \
    .set_index(['CELEBRIDADE','FLIGHT']) \
    .join( df_latest_flight, how='inner' )

df_comp = df_comp \
    .reset_index() \
    .set_index(['CONSTRUCTO','METRICA'])

del df_comp['COUNT']
del df_comp['COUNT_AW']

df_compf = df_comp.join(df_comp, lsuffix = '_1', rsuffix = '_2')

In [69]:
if OPT_GERAR_VW_COMP == 1:
    
    writeDF(df_compf, 'VW_COMPARATIVO')
    
    print("Arquivo exportado")

Arquivo exportado

---

<h2 style='color:orange'>12. Verificação - Diversos</h2>

<h4 style='color:orange'>(Verificação) Pegar somente a quantidade de 'S' de cada 'CELEBRIDADE':</h4>

In [70]:
idc = df_awareness.index
print(idc)

MultiIndex(levels=[['Adele', 'Adriana Esteves', 'Adriana Lima', 'Adriane Galisteu', 'Agatha Moreira', 'Alessandra Ambrosio', 'Alessandra Negrini', 'Alexandre (Aviões)', 'Alexandre Borges', 'Alexandre Nero', 'Alice Wegmann', 'Alicia Keys', 'Aline Riscado', 'Alinne Moraes', 'Alinne Rosa', 'Alisson Becker', 'Amaury Jr', 'Ana Clara', 'Ana Hickmann', 'Ana Maria Braga', 'Ana Paula Furtado', 'Ana Paula Padrão', 'Ana Vilela', 'AnaVitória', 'Anderson Silva', 'Andréia Horta', 'Anelis Assumpção', 'Angélica', 'Anitta', 'Antonio Fagundes', 'Aracy Balabanian', 'Arthur Aguiar', 'Baco Exu do Blues', 'Bela Gil', 'Bella Falconi', 'Bernardinho', 'Beyoncé', 'Bia e Branca', 'Bianca Bin', 'Brad Pitt', 'Bruna Hamu', 'Bruna Linzmeyer', 'Bruna Marquezine', 'Bruninho', 'Bruninho e Davi', 'Bruno Cabrerizo', 'Bruno Ferrari', 'Bruno Gagliasso', 'Bruno Gissoni', 'Bruno Vicari', 'Cacau Protásio', 'Caio Blat', 'Caio Castro', 'Caio Paduan', 'Camila Pitanga', 'Camila Queiroz', 'Carla Diaz', 'Carla Salle', 'Carlinhos Brown', 'Carlos Bertolazzi', 'Carlos Nascimento', 'Carmo Dalla Vecchia', 'Carol Castro', 'Carol Fiorentino', 'Carol Nakamura', 'Carolina Dieckmann', 'Carolina Ferraz', 'Casemiro', 'Cassius Zeilmann', 'Cauã Reymond', 'Celso Portiolli', 'Chandelly Braz', 'Chay Suede', 'Chris Flores', 'Christiane Torloni', 'Christina Rocha', 'Cissa Guimarães', 'Claudia Abreu', 'Claudia Leitte', 'Claudia Ohana', 'Cláudia Abreu', 'Cláudia Raia', 'Cléo Pires', 'Cris Vianna', 'Cristiano Ronaldo', 'Dan Stulbach', 'Dani Calabresa', 'Daniel Alves', 'Daniel Boaventura', 'Daniel Rocha', 'Daniel de Oliveira', 'Daniela Mercury', 'Daniele Hypólito', 'Daniele Suzuki', 'Danilo Gentili', 'David Luiz', 'Deborah Secco', 'Di Ferrero', 'Dira Paes', 'Du Moscovis', 'Duda Nagle', 'Dudu Camargo', 'Débora Falabella', 'Débora Nascimento', 'Edson Celulari', 'Eliana', 'Eliane Giardini', 'Ellen Rocche', 'Emicida', 'Emilio Dantas', 'Eriberto Leão', 'Erika Januza', 'Evaristo Costa', 'Fabio Porchat', 'Fabrício Boliveira', 'Faustão', 'Felipe Andreoli', 'Felipe Simas', 'Felipe Titto', 'Fernanda Garay', 'Fernanda Gentil', 'Fernanda Lima', 'Fernanda Montenegro', 'Fernanda Paes Leme', 'Fernanda Souza', 'Fernanda Torres', 'Fernanda Vasconcellos', 'Fernanda de Freitas', 'Fiorella Mattheis', 'Fiuk', 'Flávia Alessandra', 'Flávio Canto', 'Francisco Cuoco', 'Fábio Assunção', 'Fátima Bernardes', 'Gabriel Barbosa (Gabigol)', 'Gabriel Braga Nunes', 'Gabriel Jesus', 'Gabriel Leone', 'Gabriel Medina', 'Gabriela Duarte', 'Gabriela Pugliesi', 'George Clooney', 'Geraldo Luís', 'Gerard Piqué', 'Giba', 'Giovanna Antonelli', 'Giovanna Ewbank', 'Giovanna Lancellotti', 'Gisele Bündchen', 'Glória Pires', 'Grazi Massafera', 'Guga', 'Gugu', 'Guilherme Leicam', 'Gustavo Borges', 'Gusttavo Lima', 'Helen Ganzarolli', 'Henri Castelli', 'Henrique & Juliano', 'Henrique Fogaça', 'Hugo Gloss', 'Humberto Carrão', 'Humberto Martins', 'IZA', 'Ingrid Guimarães', 'Isabeli Fontana', 'Isabella Fiorentino', 'Isabella Santoni', 'Isabelle Drummond', 'Isis Valverde', 'Ivete Sangalo', 'Izabel Goulart', 'Jacqueline Sato', 'Jaqueline (Volei)', 'Jayme Matarazzo', 'Jennifer Lopez', 'Jorge e Mateus', 'Joseval Peixoto', 'José Loreto', 'José Mayer', 'José de Abreu', 'João Baldasserini', 'João Côrtes', 'João Neto e Frederico', 'João Vicente de Castro', 'Juliana Paes', 'Juliana Paiva', 'Julianne Trevisol', 'Juliano Cazarré', 'Junior Cigano', 'Jô (jogador)', 'Jô Soares', 'Júlia Rabello', 'Karina Bacchi', 'Karol Conka', 'Katy Perry', 'Klebber Toledo', 'Kéfera Buchmann', 'Larissa Manoela', 'Laura Neiva', 'Lazaro Ramos', 'Leandro Hassum', 'Leonardo DiCaprio', 'Leticia Lima', 'Letícia Bufoni', 'Letícia Colin', 'Letícia Spiller', 'Lilia Cabral', 'Livia Andrade', 'Luan Santana', 'Lucas Lucco', 'Lucas Moura', 'Luciano Huck', 'Ludmilla', 'Luisa Arraes', 'Luiz Felipe Fonteles', 'Luiza Brunet', 'Luiza Possi', 'Lulu Santos', 'Luísa Sonza', 'Léo Dias', 'Léo Santana', 'Lília Cabral', 'Maiara & Maraisa', 'Malu Mader', 'Malvino Salvador', 'Manu Gavassi', 'Marcello Melo Jr.', 'Marcello Novaes', 'Marcelo', 'Marcelo Adnet', 'Marcelo Médici', 'Marcelo Serrado', 'Marcio Atalla', 'Marco Luque', 'Marco Pigossi', 'Marcos Mion', 'Marcos Pitombo', 'Marcos Veras', 'Marcos e Belutti', 'Marcão do Povo', 'Maria Casadevall', 'Maria Clara Gueiros', 'Maria Fernanda Cândido', 'Maria Ribeiro', 'Mariana Ferrão', 'Mariana Godoy', 'Mariana Rios', 'Mariana Xavier', 'Mariana Ximenes', 'Marieta Severo', 'Marina Ruy Barbosa', 'Marisa Orth', 'Marjorie Estiano', 'Marquinhos', 'Marta', 'Marília Gabriela', 'Marília Mendonça', 'Mateus Solano', 'Matheus e Kauan', 'Maya Gabeira', 'Messi', 'Michael Phelps', 'Michel Teló', 'Miranda', 'Monica Iozzi', 'Murilo Benicio', 'Márcio Garcia', 'Mário Frias', 'Nadja Haddad', 'Naiara Azevedo', 'Nanda Costa', 'Nathalia Dill', 'Nego do Borel', 'Neymar', 'Nicolas Prattes', 'Nikolas Antunes', 'Odilon Wagner', 'Otaviano Costa', 'Pabllo Vittar', 'Paloma Bernardi', 'Paola Carosella', 'Paolla Oliveira', 'Patricia Pillar', 'Patrícia Abravanel', 'Patrícia Poeta', 'Paulinho', 'Paulo Gustavo', 'Paulo Henrique Ganso', 'Paulo Miklos', 'Pedro Bial', 'Philippe Coutinho', 'Preta Gil', 'Priscila Fantin', 'Pâmela Tomé', 'Rachel Sheherazade', 'Rafa Brites', 'Rafael Cardoso', 'Rafael Nadal', 'Rafael Vitti', 'Ratinho', 'Raul Gil', 'Rebeca Abravanel', 'Regina Casé', 'Regina Duarte', 'Renato Augusto', 'Reynaldo Gianecchini', 'Ricardo Amorim', 'Ricardo Pereira', 'Ricardo Tozzi', 'Rick Bonadio', 'Roberta Rodrigues', 'Roberto Cabrini', 'Roberto Justus', 'Rodrigo Faro', 'Rodrigo Hilbert', 'Rodrigo Lombardi', 'Rodrigo Santoro', 'Rodrigo Simas', 'Roger Federer', 'Ronaldinho Gaúcho', 'Ronaldo', 'Rouge', 'Roupa Nova', 'Rômulo Arantes Neto', 'Rômulo Estrela', 'Sabrina Petraglia', 'Sabrina Sato', 'Sandy', 'Sasha Meneghel', 'Selton Mello', 'Serginho (Vôlei)', 'Serginho Groisman', 'Shakira', 'Sheron Menezzes', 'Sidney Oliveira', 'Silvia Abravanel', 'Simone & Simaria', 'Solange Almeida', 'Sophia Abrahão', 'Sophie Charlotte', 'Susana Vieira', 'Sérgio Guizé', 'Sérgio Malheiros', 'Sérgio Sette Câmara', 'Tadeu Schmidt', 'Tainá Muller', 'Tarcísio Meira', 'Tatá Werneck', 'Taís Araújo', 'Thaila Ayala', 'Thaís Fersoza', 'Thiago Braz', 'Thiago Fragoso', 'Thiago Lacerda', 'Thiago Martins', 'Thiaguinho', 'Tiago Iorc', 'Tiago Leifert', 'Ticiana Villas Boas', 'Tite', 'Tom Cavalcante', 'Tony Ramos', 'Totia Meireles', 'Usain Bolt', 'Vanessa Giácomo', 'Vera Holtz', 'Victor e Leo', 'Vitória Strada', 'Vladimir Brichta', 'Wagner Moura', 'Wanessa', 'Wesley Safadão', 'Xuxa', 'Yanna Lavigne', 'Zezé Di Camargo', 'Zezé Di Camargo e Luciano', 'Zizi Possi', 'Zé Neto & Cristiano', 'Érick Jacquin'], [15, 16, 17, 18, 19, 20, 21, 22, 23]],
           labels=[[0, 1, 1, 1, 2, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 11, 12, 13, 13, 13, 14, 15, 16, 17, 18, 18, 18, 18, 18, 19, 19, 19, 19, 20, 20, 20, 20, 20, 21, 21, 22, 23, 24, 25, 25, 25, 25, 26, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 30, 31, 31, 32, 33, 33, 34, 35, 35, 35, 35, 35, 35, 36, 37, 38, 38, 38, 39, 40, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 44, 44, 45, 46, 47, 47, 47, 47, 47, 47, 47, 47, 48, 49, 50, 51, 51, 52, 52, 52, 52, 52, 52, 53, 53, 53, 54, 54, 55, 55, 55, 55, 55, 55, 56, 57, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 60, 60, 60, 60, 60, 60, 61, 62, 63, 63, 64, 65, 66, 67, 68, 69, 69, 69, 69, 69, 70, 70, 70, 70, 70, 70, 70, 70, 70, 71, 72, 72, 72, 72, 73, 73, 73, 73, 73, 73, 73, 74, 75, 76, 77, 78, 78, 78, 78, 78, 78, 78, 78, 78, 79, 80, 80, 81, 81, 81, 81, 81, 82, 82, 82, 82, 82, 82, 83, 83, 84, 84, 84, 85, 86, 87, 87, 87, 87, 88, 89, 90, 90, 90, 91, 91, 92, 93, 94, 94, 94, 94, 94, 94, 94, 94, 95, 95, 96, 96, 96, 96, 97, 98, 99, 100, 101, 101, 101, 102, 102, 102, 103, 103, 103, 103, 103, 104, 104, 104, 105, 105, 105, 105, 105, 105, 105, 105, 105, 106, 107, 108, 109, 109, 109, 110, 111, 112, 112, 112, 113, 113, 113, 113, 113, 114, 115, 115, 115, 115, 115, 116, 117, 118, 118, 118, 119, 120, 120, 121, 121, 121, 121, 121, 121, 122, 123, 123, 123, 123, 123, 124, 124, 124, 124, 124, 124, 124, 125, 125, 125, 126, 127, 128, 129, 130, 130, 131, 132, 133, 134, 134, 134, 134, 134, 134, 134, 134, 135, 136, 137, 137, 137, 137, 138, 139, 139, 139, 140, 141, 141, 142, 143, 143, 143, 143, 143, 143, 144, 145, 145, 146, 146, 146, 146, 146, 146, 146, 146, 146, 147, 147, 147, 147, 147, 147, 147, 148, 148, 148, 148, 149, 149, 149, 149, 149, 149, 149, 149, 149, 150, 150, 150, 150, 151, 151, 151, 151, 151, 151, 151, 151, 152, 152, 152, 153, 153, 153, 153, 153, 154, 155, 156, 156, 156, 156, 157, 157, 158, 158, 158, 159, 159, 159, 160, 160, 160, 161, 161, 162, 163, 164, 164, 164, 165, 165, 165, 166, 166, 167, 167, 168, 168, 168, 168, 169, 169, 169, 169, 170, 170, 170, 170, 170, 170, 170, 171, 171, 171, 171, 171, 171, 171, 171, 171, 172, 173, 174, 175, 175, 175, 175, 176, 177, 177, 178, 179, 179, 179, 180, 180, 180, 181, 182, 183, 184, 185, 185, 185, 186, 186, 186, 186, 187, 187, 188, 189, 189, 190, 191, 192, 192, 193, 194, 195, 195, 195, 195, 195, 195, 196, 197, 197, 197, 197, 197, 197, 198, 198, 199, 200, 201, 201, 201, 201, 201, 202, 203, 204, 205, 206, 206, 207, 207, 207, 207, 208, 209, 209, 210, 210, 210, 210, 210, 210, 211, 211, 212, 213, 213, 213, 213, 213, 213, 213, 214, 214, 214, 214, 215, 216, 217, 218, 219, 219, 220, 221, 222, 223, 223, 223, 224, 224, 224, 224, 224, 225, 225, 226, 226, 226, 226, 226, 226, 227, 228, 229, 229, 229, 230, 231, 231, 231, 231, 231, 232, 233, 233, 234, 234, 234, 234, 235, 236, 236, 236, 236, 236, 237, 238, 239, 239, 240, 240, 241, 241, 242, 242, 243, 244, 244, 245, 246, 247, 248, 249, 250, 250, 250, 250, 250, 251, 251, 251, 252, 252, 252, 252, 252, 252, 252, 253, 253, 254, 254, 255, 256, 256, 257, 257, 257, 258, 258, 258, 258, 258, 258, 259, 259, 259, 259, 259, 260, 260, 260, 261, 262, 262, 263, 264, 264, 264, 264, 264, 265, 266, 266, 266, 266, 266, 267, 268, 268, 268, 268, 268, 269, 270, 270, 271, 272, 272, 273, 273, 273, 273, 273, 274, 274, 275, 275, 275, 275, 275, 275, 275, 276, 277, 278, 278, 279, 279, 279, 280, 280, 280, 281, 281, 282, 282, 282, 283, 283, 283, 283, 283, 283, 284, 284, 285, 285, 285, 285, 285, 285, 285, 285, 286, 286, 286, 287, 287, 288, 289, 290, 291, 292, 293, 293, 293, 294, 295, 296, 296, 296, 296, 297, 298, 298, 298, 298, 298, 299, 300, 301, 301, 301, 301, 301, 301, 301, 301, 302, 302, 303, 303, 303, 303, 304, 304, 305, 305, 306, 307, 307, 307, 307, 308, 309, 310, 311, 312, 313, 313, 313, 313, 313, 313, 313, 314, 315, 315, 315, 315, 315, 315, 315, 315, 315, 316, 316, 316, 316, 317, 317, 317, 317, 317, 318, 319, 320, 320, 321, 322, 322, 323, 324, 324, 324, 325, 326, 326, 327, 328, 328, 328, 328, 328, 328, 328, 328, 328, 329, 329, 329, 330, 331, 331, 332, 333, 334, 335, 336, 337, 337, 337, 337, 338, 338, 338, 338, 338, 338, 339, 339, 340, 340, 340, 340, 340, 341, 341, 341, 342, 342, 342, 343, 343, 343, 344, 345, 346, 347, 348, 348, 349, 349, 349, 349, 349, 349, 349, 349, 349, 350, 350, 350, 350, 350, 350, 351, 351, 352, 353, 354, 354, 355, 355, 355, 355, 356, 356, 357, 357, 357, 358, 358, 359, 359, 359, 359, 359, 359, 360, 360, 360, 360, 361, 361, 361, 362, 363, 363, 363, 363, 364, 365, 366, 366, 366, 367, 368, 368, 369, 369, 370, 370, 370, 370, 371, 372, 372, 372, 372, 372, 373, 373, 373, 373, 373, 373, 374, 374, 374, 374, 374, 374, 375, 375, 376, 377, 377, 378, 379, 379, 380, 380], [6, 3, 7, 8, 7, 5, 7, 0, 1, 2, 4, 5, 6, 7, 1, 7, 6, 7, 8, 4, 6, 1, 2, 0, 1, 2, 3, 6, 7, 0, 2, 3, 7, 6, 3, 3, 4, 8, 2, 6, 3, 8, 0, 1, 2, 6, 7, 0, 1, 2, 4, 2, 3, 4, 5, 6, 3, 5, 8, 3, 0, 1, 4, 5, 6, 8, 0, 1, 2, 4, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 5, 8, 8, 0, 6, 8, 0, 2, 3, 4, 5, 6, 6, 4, 0, 5, 6, 6, 0, 4, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 3, 8, 6, 1, 0, 1, 2, 3, 4, 5, 6, 7, 3, 8, 7, 1, 8, 2, 3, 4, 5, 6, 8, 3, 5, 6, 0, 1, 0, 1, 4, 6, 7, 8, 5, 8, 0, 2, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 2, 3, 4, 6, 7, 8, 0, 7, 5, 6, 2, 0, 1, 6, 6, 0, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 7, 8, 7, 1, 2, 5, 8, 2, 3, 4, 5, 6, 7, 8, 1, 7, 3, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 2, 1, 2, 2, 3, 5, 6, 8, 0, 1, 2, 4, 6, 7, 0, 4, 3, 5, 6, 5, 0, 4, 6, 7, 8, 1, 0, 2, 4, 8, 6, 7, 5, 1, 1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 0, 6, 7, 8, 2, 1, 8, 7, 6, 7, 8, 2, 4, 5, 0, 1, 4, 5, 6, 1, 3, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 6, 1, 2, 4, 7, 8, 6, 6, 6, 7, 8, 0, 2, 6, 7, 8, 7, 0, 1, 2, 3, 5, 3, 0, 1, 4, 6, 8, 3, 7, 0, 1, 3, 4, 5, 8, 5, 0, 1, 2, 6, 7, 0, 2, 3, 4, 5, 6, 7, 5, 6, 7, 1, 1, 4, 4, 0, 1, 6, 2, 7, 0, 1, 3, 4, 5, 6, 7, 8, 8, 5, 3, 4, 6, 8, 7, 3, 4, 6, 6, 0, 1, 6, 1, 2, 3, 4, 5, 6, 5, 0, 5, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 3, 4, 5, 6, 7, 8, 0, 1, 2, 6, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 3, 5, 6, 0, 2, 3, 4, 5, 6, 7, 8, 0, 3, 4, 0, 1, 2, 3, 4, 4, 4, 1, 4, 6, 7, 7, 8, 1, 2, 6, 2, 5, 7, 5, 6, 7, 0, 1, 2, 5, 6, 7, 8, 1, 6, 8, 3, 7, 7, 8, 0, 1, 2, 6, 0, 2, 4, 5, 0, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8, 7, 2, 3, 1, 2, 4, 6, 6, 5, 8, 2, 1, 3, 4, 2, 3, 4, 7, 1, 2, 6, 4, 6, 8, 0, 3, 4, 5, 0, 8, 0, 0, 5, 2, 5, 0, 1, 2, 7, 3, 4, 5, 6, 7, 8, 6, 0, 1, 5, 6, 7, 8, 0, 8, 3, 7, 0, 1, 4, 6, 7, 1, 6, 0, 6, 5, 8, 1, 2, 3, 6, 8, 7, 8, 2, 4, 5, 6, 7, 8, 1, 6, 8, 0, 1, 3, 4, 5, 6, 8, 3, 4, 6, 7, 8, 8, 1, 1, 2, 8, 8, 8, 8, 1, 3, 5, 1, 2, 4, 5, 7, 1, 2, 1, 2, 5, 6, 7, 8, 7, 1, 2, 5, 6, 6, 0, 1, 2, 3, 8, 1, 4, 6, 2, 3, 5, 6, 7, 0, 4, 5, 7, 8, 1, 1, 3, 6, 4, 8, 6, 7, 0, 4, 1, 4, 5, 7, 7, 6, 0, 5, 0, 1, 2, 3, 7, 5, 6, 7, 0, 3, 4, 5, 6, 7, 8, 1, 2, 0, 8, 6, 3, 8, 3, 5, 8, 2, 4, 5, 6, 7, 8, 0, 1, 3, 4, 5, 3, 5, 6, 3, 3, 6, 2, 0, 2, 4, 5, 8, 6, 0, 1, 3, 4, 8, 2, 2, 3, 4, 5, 6, 6, 7, 8, 4, 4, 8, 0, 1, 3, 6, 7, 5, 6, 0, 1, 2, 3, 4, 5, 6, 8, 1, 5, 8, 0, 1, 3, 5, 6, 7, 2, 8, 5, 7, 8, 2, 3, 4, 5, 6, 7, 0, 7, 1, 2, 3, 4, 5, 6, 7, 8, 4, 6, 7, 5, 6, 4, 8, 2, 6, 6, 4, 6, 7, 0, 7, 1, 6, 7, 8, 3, 1, 2, 3, 5, 6, 5, 3, 1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 5, 6, 7, 8, 1, 2, 1, 2, 6, 0, 1, 2, 3, 5, 7, 6, 2, 0, 2, 3, 4, 5, 6, 7, 8, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 5, 6, 7, 0, 3, 4, 5, 7, 0, 6, 4, 6, 8, 3, 7, 7, 0, 1, 2, 0, 6, 7, 7, 0, 1, 2, 3, 4, 5, 6, 7, 8, 3, 4, 8, 7, 0, 8, 4, 6, 6, 1, 6, 5, 6, 7, 8, 3, 4, 5, 6, 7, 8, 6, 7, 0, 1, 3, 6, 8, 0, 4, 7, 0, 4, 8, 0, 5, 6, 7, 6, 8, 5, 1, 2, 0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 3, 4, 6, 7, 0, 1, 4, 2, 4, 6, 1, 2, 6, 7, 4, 8, 4, 6, 7, 3, 4, 0, 2, 3, 5, 6, 8, 1, 2, 3, 4, 3, 4, 6, 2, 0, 3, 4, 6, 5, 2, 0, 4, 5, 3, 0, 3, 6, 8, 3, 5, 7, 8, 6, 2, 3, 4, 6, 7, 0, 1, 3, 4, 5, 8, 0, 1, 4, 6, 7, 8, 1, 8, 6, 3, 8, 7, 2, 7, 5, 7]],
           names=['CELEBRIDADE', 'FLIGHT'])

In [71]:
print(df_awareness.loc[['Alessandra Negrini', '21']])

AW                           N    S  AWARENESS AWARENESS_NIVEL
CELEBRIDADE        FLIGHT
Alessandra Negrini 21       69  144   0.676056           Baixo
                   22      101  129   0.560870           Baixo
                   23      103  139   0.574380           Baixo

---